{% extends "base.html" %}
{% load static %}
{% load mathfilters %}
{% load custom_tags %}




{% block content %}

    {% if context %}
        {% if not isRecord %}
            <h1 style="text-align: center; padding: 25px">اطلاعاتی جهت نمایش وجود ندارد</h1>
        {% elif analyzeType|equals:'Ahjam' %}
            <div class="col" style="width: 700px; margin-left: auto; margin-right: auto">
                <table class="table table-bordered border-dark my-1" style="">
                    <thead>
                        <tr>
                            <th>
                                {% if dates_filters %}
                                    گزارش احجام کاری از {{ dates_filters.lower }} تا {{ dates_filters.upper }}
                                {% else %}
                                    گزارش احجام کاری در همه زمان ها
                                {% endif %}
                            </th>
                        </tr>
                    </thead>
                    {% include 'recursive_table.html' with data=tree headers=tree.keys level=0 priorities_values=priorities_values priority_depths=priority_depths analyzeType=analyzeType parent="" query_formula=query_formula %}
                </table>
            </div>
        {% elif analyzeType|equals:'machine' %}
            <div class="col" style="width: 700px; margin-left: auto; margin-right: auto">
                <table class="table table-bordered border-dark my-1" style="">
                    <thead>
                        <tr>
                            <th>
                                {% if dates_filters %}
                                    گزارش کارکرد ماشین آلات و تجهیزات از {{ dates_filters.lower }} تا {{ dates_filters.upper }}
                                {% else %}
                                    گزارش کارکرد ماشین آلات و تجهیزات در همه زمان ها
                                {% endif %}
                            </th>
                        </tr>
                    </thead>
                    {% include 'recursive_table.html' with data=tree headers=tree.keys level=0 priorities_values=priorities_values priority_depths=priority_depths analyzeType=analyzeType parent="" query_formula=query_formula %}
                </table>
            </div>
        {% elif analyzeType|equals:'material' %}
            <div class="col" style="width: 700px; margin-left: auto; margin-right: auto">
                <table class="table table-bordered border-dark my-1" style="">
                    <thead>
                        <tr>
                            <th>
                                {% if dates_filters %}
                                    گزارش مقادیر مصالح از {{ dates_filters.lower }} تا {{ dates_filters.upper }}
                                {% else %}
                                    گزارش مقادیر مصالح در همه زمان ها
                                {% endif %}
                            </th>
                        </tr>
                    </thead>
                    {% include 'recursive_table.html' with data=tree headers=tree.keys level=0 priorities_values=priorities_values priority_depths=priority_depths analyzeType=analyzeType parent="" query_formula=query_formula%}
                </table>
            </div>
        {% endif %}


    {% else %}
        <script>
            $(document).ready( function () {
                jalaliDatepicker.startWatch({
                    time: false,
                    hideAfterChange: true,
                });
            })
        </script>

        <div class="row px-4" id="analyze-formula-container">

            <div id="AnalyzeType-Box" class="box row py-1 mx-0">

                <div class="row">
                    <label class="p-1"
                           style="text-align: center; font-weight: bolder; font-size: 18px">نوع آنالیز</label>
                </div>

                <div id="select2-analyze-type-container" class="col-12 px-2 my-1 text-centred">
                    <select id="select2-analyze-type" class="select2-hidden-accessible w-25 p-1">
                        <option disabled hidden selected>انتخاب نوع آنالیز</option>
                        <option value="volume">احجام کاری</option>
                        <option value="machine">ماشین آلات</option>
                        <option value="material">مصالح</option>
                    </select>
                </div>


                <div  class="col-12 px-2 my-3 text-centred">
                    <button class="btn-color onhover p-1 px-2 w-25" type="submit" onclick="set_analyze_type()">
                        اعمال
                    </button>
                </div>

            </div>




            <div hidden id="Ahjam-Box" class="box row py-3 mx-0">

                <div class="row">
                    <label class="p-1"
                           style="text-align: center; font-weight: bolder; font-size: 18px">فرمولاسیون آنالیز احجام</label>
                </div>

                <div id="select2-formula-priority-one-container" class="col-2 px-2 text-centred">
                    <label class="p-1"
                           style="text-align: center; font-weight: bolder; font-size: 14px">اولویت اول</label>
                    <br>
                    <select id="select2-formula-priority-one" onchange="handle_formula_priority(1)"
                            class="select2-hidden-accessible p-1" style="width: 85%;">
                        <option disabled hidden selected>انتخاب اولویت</option>
        <!--                <option value="time">زمان</option>-->
                        <option value="zone">موقعیت</option>
                        <option value="operation">آیتم های قراردادی</option>
        <!--                <option value="suboperation">عملیات اجرایی</option>-->
                        <option value="equipe">پیمانکار</option>
                    </select>
                </div>

                <div id="select2-formula-priority-two-container" class="col-2 px-2 text-centred">
                    <label class="p-1"
                           style="text-align: center; font-weight: bolder; font-size: 14px">اولویت دوم</label>
                    <br>
                    <select id="select2-formula-priority-two" onchange="handle_formula_priority(2)"
                            class="select2-hidden-accessible w-100 p-1" style="width: 85%">
                        <option disabled hidden selected>انتخاب اولویت</option>
                    </select>
                </div>

                <div id="select2-formula-priority-three-container"
                     class="col-2 px-2 text-centred">
                    <label class="p-1"
                           style="text-align: center; font-weight: bolder; font-size: 14px">اولویت سوم</label>
                    <br>
                    <select id="select2-formula-priority-three" onchange="handle_formula_priority(3)"
                            class="select2-hidden-accessible w-100 p-1" style="width: 85%">
                        <option disabled hidden selected>انتخاب اولویت</option>
                    </select>
                </div>

                <div id="select2-formula-priority-four-container"
                     class="col-2 px-2 text-centred">
                    <label class="p-1"
                           style="text-align: center; font-weight: bolder; font-size: 14px">اولویت چهارم</label>
                    <br>
                    <select id="select2-formula-priority-four" onchange="handle_formula_priority(4)"
                            class="select2-hidden-accessible w-100 p-1" style="width: 85%">
                        <option disabled hidden selected>انتخاب اولویت</option>
                    </select>
                </div>

                <div id="select2-formula-priority-five-container"
                     class="col-2 px-2 text-centred">
        <!--            <label class="p-1"-->
        <!--                   style="text-align: center; font-weight: bolder; font-size: 14px">اولویت پنجم</label>-->
        <!--            <br>-->
        <!--            <select id="select2-formula-priority-five" class="select2-hidden-accessible w-100 p-1" style="width: 85%">-->
        <!--                <option disabled hidden selected>انتخاب اولویت</option>-->
        <!--            </select>-->
                </div>

                <div  class="col-2 px-2 text-centred">
                    <label class="p-1"
                           style="text-align: center; font-weight: bolder; font-size: 14px">&nbsp; &nbsp; &nbsp; &nbsp;</label>
                    <br>
                    <button class="btn-color onhover p-1 px-2 w-75"
                            onclick="submitPriorityFormulaVolumes()"
                            style="">
                        اعمال
                    </button>
                </div>

            </div>

            <div hidden id="Ahjam-Filter-Box" class="box row py-3 mx-0 container-fluid">

                <div class="row">
                    <label class="p-1"
                           style="text-align: center; font-weight: bolder; font-size: 18px">فیلتر آنالیز</label>
                </div>

                <form class="row" id="form-Ahjam" method="post" action="/analyzer/analyze/">
                    {% csrf_token %}
                    <input readonly hidden value="Ahjam" name="analyze-type">

                    <div id="select2-filter-priority-one-container" class="col-4 px-2 text-centred">
                        <label class="p-1"  id="priority-one-label"
                               style="text-align: center; font-weight: bolder; font-size: 14px">اولویت اول</label>
                        <br>
                        <select id="select2-filter-priority-one"
                                class="select2-hidden-accessible p-1 " style="width: 85%"
                                name="priority_01[]" multiple="multiple">
                        </select>
                    </div>

                    <div id="select2-filter-priority-two-container" class=" col-4 px-2 text-centred">
                        <label class="p-1"  id="priority-two-label"
                               style="text-align: center; font-weight: bolder; font-size: 14px">اولویت دوم</label>
                        <br>
                        <select id="select2-filter-priority-two"
                                class="select2-hidden-accessible w-100 p-1 form-control" style="width: 85%"
                                name="priority_02[]" multiple="multiple">
                        </select>
                    </div>

                    <div id="select2-filter-priority-three-container"
                         class="col-4 px-2 text-centred">
                        <label class="p-1"  id="priority-three-label"
                               style="text-align: center; font-weight: bolder; font-size: 14px">اولویت سوم</label>
                        <br>
                        <select id="select2-filter-priority-three"
                                class="select2-hidden-accessible w-100 p-1" style="width: 85%"
                                name="priority_03[]" multiple="multiple">
                        </select>
                    </div>

                    <div id="select2-filter-priority-four-container"
                         class="col-4 px-2 text-centred">
                        <label class="p-1" id="priority-four-label"
                               style="text-align: center; font-weight: bolder; font-size: 14px">اولویت چهارم</label>
                        <br>
                        <select id="select2-filter-priority-four"
                                class="select2-hidden-accessible w-100 p-1" style="width: 85%"
                                name="priority_04[]" multiple="multiple">
                        </select>
                    </div>

                    <div id="select2-filter-priority-five-container"
                         class="col-4 px-2 text-centred">

                        <div class="form-check form-switch w-25 mx-auto py-2">
                            <input checked class="form-check-input" type="checkbox" name="customDateFilterSwitch"
                                   id="customDateFilterSwitch" onchange="dateFilterSwitch()">
                            <label class="form-check-label" for="customDateFilterSwitch" id="customDateFilterSwitch-label"
                               style="font-weight: bolder; font-size: 14px;">فیلتر تاریخی</label>
                        </div>

                        <label>از تاریخ :</label>
                        <input required name="date-from" style="width: 25%" id="date-from" class="bg-light" placeholder="از تاریخ" data-jdp onchange="">

                        <label> &nbsp; &nbsp;تا تاریخ :</label>
                        <input required name="date-through" style="width: 25%" id="date-through" class="bg-light" placeholder="تا تاریخ" data-jdp onchange="">




            <!--            <select id="select2-filter-priority-five"-->
            <!--                    class="select2-hidden-accessible w-100 p-1" style="width: 85%"-->
            <!--                    name="priority_05[]" multiple="multiple">-->
            <!--            </select>-->
                    </div>

                    <div  class="col-4 px-2 text-centred">
                        <label class="p-1"
                               style="text-align: center; font-weight: bolder; font-size: 14px">&nbsp; &nbsp; &nbsp;</label>
                        <br>
                        <button class="btn-color onhover p-1 px-2 w-75"
                                type="submit"
                                onclick=""
                                style="">
                            گزارش گیری
                        </button>
                    </div>

                </form>

            </div>




            <div hidden id="MachineWork-Box" class="box row py-3 mx-0">

                <div class="row">
                    <label class="p-1"
                           style="text-align: center; font-weight: bolder; font-size: 18px">فرمولاسیون آنالیز ماشین آلات</label>
                </div>

                <div id="select2-formula-priority-one-container-machine" class="col-2 px-2 text-centred">
                    <label class="p-1"
                           style="text-align: center; font-weight: bolder; font-size: 14px">اولویت اول</label>
                    <br>
                    <select id="select2-formula-priority-one-machine" onchange="handle_formula_priority(1, nonVolume='machine')"
                            class="select2-hidden-accessible p-1" style="width: 85%;">
                        <option disabled hidden selected>انتخاب اولویت</option>
                        <option value="machine">تجهیز</option>
                        <option value="provider">تامین کننده</option>
                    </select>
                </div>

                <div id="select2-formula-priority-two-container-machine" class="col-2 px-2 text-centred">
                    <label class="p-1"
                           style="text-align: center; font-weight: bolder; font-size: 14px">اولویت دوم</label>
                    <br>
                    <select id="select2-formula-priority-two-machine" onchange="handle_formula_priority(2, nonVolume='machine')"
                            class="select2-hidden-accessible w-100 p-1" style="width: 85%">
                        <option disabled hidden selected>انتخاب اولویت</option>
                    </select>
                </div>

                <div id="select2-formula-priority-three-container-machine" class="col-2 px-2 text-centred">
<!--                    <label class="p-1"-->
<!--                           style="text-align: center; font-weight: bolder; font-size: 14px">اولویت دوم</label>-->
<!--                    <br>-->
<!--                    <select id="select2-formula-priority-three-machine" onchange="handle_formula_priority(3, nonVolume='machine')"-->
<!--                            class="select2-hidden-accessible w-100 p-1" style="width: 85%">-->
<!--                        <option disabled hidden selected>انتخاب اولویت</option>-->
<!--                    </select>-->
                </div>

                <div id="select2-formula-priority-four-container-machine" class="col-2 px-2 text-centred">
<!--                    <label class="p-1"-->
<!--                           style="text-align: center; font-weight: bolder; font-size: 14px">اولویت دوم</label>-->
<!--                    <br>-->
<!--                    <select id="select2-formula-priority-four-machine" onchange="handle_formula_priority(4, nonVolume='machine')"-->
<!--                            class="select2-hidden-accessible w-100 p-1" style="width: 85%">-->
<!--                        <option disabled hidden selected>انتخاب اولویت</option>-->
<!--                    </select>-->
                </div>

                <div id="select2-formula-priority-five-container-machine" class="col-2 px-2 text-centred">
<!--                    <label class="p-1"-->
<!--                           style="text-align: center; font-weight: bolder; font-size: 14px">اولویت دوم</label>-->
<!--                    <br>-->
<!--                    <select id="select2-formula-priority-five-machine" onchange="handle_formula_priority(5, nonVolume='machine')"-->
<!--                            class="select2-hidden-accessible w-100 p-1" style="width: 85%">-->
<!--                        <option disabled hidden selected>انتخاب اولویت</option>-->
<!--                    </select>-->
                </div>


                <div  class="col-2 px-2 text-centred">
                    <label class="p-1"
                           style="text-align: center; font-weight: bolder; font-size: 14px">&nbsp; &nbsp; &nbsp; &nbsp;</label>
                    <br>
                    <button class="btn-color onhover p-1 px-2 w-75"
                            onclick="submitPriorityFormula_Machines_Material('machine')"
                            style="">
                        اعمال
                    </button>
                </div>

            </div>

            <div hidden id="machine-Filter-Box" class="box row py-3 mx-0 container-fluid">

                <div class="row">
                    <label class="p-1"
                           style="text-align: center; font-weight: bolder; font-size: 18px">فیلتر آنالیز</label>
                </div>

                <form class="row" id="form-machine" method="post" action="/analyzer/analyze/">
                    {% csrf_token %}
                    <input readonly hidden value="machine" name="analyze-type">
                    <div id="select2-filter-priority-one-container-machine" class="col-4 px-2 text-centred">
                        <label class="p-1"  id="priority-one-label-machine"
                               style="text-align: center; font-weight: bolder; font-size: 14px">اولویت اول</label>
                        <br>
                        <select id="select2-filter-priority-one-machine"
                                class="select2-hidden-accessible p-1 " style="width: 85%"
                                name="priority_01[]" multiple="multiple">
                        </select>
                    </div>

                    <div id="select2-filter-priority-two-container-machine" class=" col-4 px-2 text-centred">
                        <label class="p-1"  id="priority-two-label-machine"
                               style="text-align: center; font-weight: bolder; font-size: 14px">اولویت دوم</label>
                        <br>
                        <select id="select2-filter-priority-two-machine"
                                class="select2-hidden-accessible w-100 p-1 form-control" style="width: 85%"
                                name="priority_02[]" multiple="multiple">
                        </select>
                    </div>


                    <div id="select2-filter-priority-five-container-machine"
                         class="col-4 px-2 text-centred">

                        <div class="form-check form-switch w-25 mx-auto py-2">
                            <input checked class="form-check-input" type="checkbox" name="customDateFilterSwitch"
                                   id="customDateFilterSwitch-machine" onchange="dateFilterSwitch(nonVolume='machine')">
                            <label class="form-check-label" for="customDateFilterSwitch-machine" id="customDateFilterSwitch-label-machine"
                               style="font-weight: bolder; font-size: 14px;">فیلتر تاریخی</label>
                        </div>

                        <label>از تاریخ :</label>
                        <input required name="date-from" style="width: 25%" id="date-from-machine" class="bg-light" placeholder="از تاریخ" data-jdp onchange="">

                        <label> &nbsp; &nbsp;تا تاریخ :</label>
                        <input required name="date-through" style="width: 25%" id="date-through-machine" class="bg-light" placeholder="تا تاریخ" data-jdp onchange="">

                    </div>

                    <div  class="col-4 px-2 text-centred mx-auto">
                        <label class="p-1"
                               style="text-align: center; font-weight: bolder; font-size: 14px">&nbsp; &nbsp; &nbsp;</label>
                        <br>
                        <button class="btn-color onhover p-1 px-2 w-75"
                                type="submit"
                                onclick=""
                                style="">
                            گزارش گیری
                        </button>
                    </div>

                </form>

            </div>




            <div hidden id="Material-Box" class="box row py-3 mx-0">

                <div class="row">
                    <label class="p-1"
                           style="text-align: center; font-weight: bolder; font-size: 18px">فرمولاسیون آنالیز مصالح</label>
                </div>

                <div id="select2-formula-priority-one-container-material" class="col-2 px-2 text-centred">
                    <label class="p-1"
                           style="text-align: center; font-weight: bolder; font-size: 14px">اولویت اول</label>
                    <br>
                    <select id="select2-formula-priority-one-material" onchange="handle_formula_priority(1, nonVolume='material')"
                            class="select2-hidden-accessible p-1" style="width: 85%;">
                        <option disabled hidden selected>انتخاب اولویت</option>
                        <option value="material">مصالح</option>
                        <option value="provider">تامین کننده</option>
                    </select>
                </div>

                <div id="select2-formula-priority-two-container-material" class="col-2 px-2 text-centred">
                    <label class="p-1"
                           style="text-align: center; font-weight: bolder; font-size: 14px">اولویت دوم</label>
                    <br>
                    <select id="select2-formula-priority-two-material" onchange="handle_formula_priority(2, nonVolume='material')"
                            class="select2-hidden-accessible w-100 p-1" style="width: 85%">
                        <option disabled hidden selected>انتخاب اولویت</option>
                    </select>
                </div>

                <div id="select2-formula-priority-three-container-material" class="col-2 px-2 text-centred">
<!--                    <label class="p-1"-->
<!--                           style="text-align: center; font-weight: bolder; font-size: 14px">اولویت دوم</label>-->
<!--                    <br>-->
<!--                    <select id="select2-formula-priority-three-material" onchange="handle_formula_priority(3, nonVolume='material')"-->
<!--                            class="select2-hidden-accessible w-100 p-1" style="width: 85%">-->
<!--                        <option disabled hidden selected>انتخاب اولویت</option>-->
<!--                    </select>-->
                </div>

                <div id="select2-formula-priority-four-container-material" class="col-2 px-2 text-centred">
<!--                    <label class="p-1"-->
<!--                           style="text-align: center; font-weight: bolder; font-size: 14px">اولویت دوم</label>-->
<!--                    <br>-->
<!--                    <select id="select2-formula-priority-four-material" onchange="handle_formula_priority(4, nonVolume='material')"-->
<!--                            class="select2-hidden-accessible w-100 p-1" style="width: 85%">-->
<!--                        <option disabled hidden selected>انتخاب اولویت</option>-->
<!--                    </select>-->
                </div>

                <div id="select2-formula-priority-five-container-material" class="col-2 px-2 text-centred">
<!--                    <label class="p-1"-->
<!--                           style="text-align: center; font-weight: bolder; font-size: 14px">اولویت دوم</label>-->
<!--                    <br>-->
<!--                    <select id="select2-formula-priority-five-material" onchange="handle_formula_priority(5, nonVolume='material')"-->
<!--                            class="select2-hidden-accessible w-100 p-1" style="width: 85%">-->
<!--                        <option disabled hidden selected>انتخاب اولویت</option>-->
<!--                    </select>-->
                </div>


                <div  class="col-2 px-2 text-centred">
                    <label class="p-1"
                           style="text-align: center; font-weight: bolder; font-size: 14px">&nbsp; &nbsp; &nbsp; &nbsp;</label>
                    <br>
                    <button class="btn-color onhover p-1 px-2 w-75"
                            onclick="submitPriorityFormula_Machines_Material('material')"
                            style="">
                        اعمال
                    </button>
                </div>

            </div>

            <div hidden id="material-Filter-Box" class="box row py-3 mx-0 container-fluid">

                <div class="row">
                    <label class="p-1"
                           style="text-align: center; font-weight: bolder; font-size: 18px">فیلتر آنالیز</label>
                </div>

                <form class="row" id="form-material" method="post" action="/analyzer/analyze/">
                    {% csrf_token %}
                    <input readonly hidden value="material" name="analyze-type">
                    <div id="select2-filter-priority-one-container-material" class="col-4 px-2 text-centred">
                        <label class="p-1"  id="priority-one-label-material"
                               style="text-align: center; font-weight: bolder; font-size: 14px">اولویت اول</label>
                        <br>
                        <select id="select2-filter-priority-one-material"
                                class="select2-hidden-accessible p-1 " style="width: 85%"
                                name="priority_01[]" multiple="multiple">
                        </select>
                    </div>

                    <div id="select2-filter-priority-two-container-material" class=" col-4 px-2 text-centred">
                        <label class="p-1"  id="priority-two-label-material"
                               style="text-align: center; font-weight: bolder; font-size: 14px">اولویت دوم</label>
                        <br>
                        <select id="select2-filter-priority-two-material"
                                class="select2-hidden-accessible w-100 p-1 form-control" style="width: 85%"
                                name="priority_02[]" multiple="multiple">
                        </select>
                    </div>


                    <div id="select2-filter-priority-five-container-material"
                         class="col-4 px-2 text-centred">

                        <div class="form-check form-switch w-25 mx-auto py-2">
                            <input checked class="form-check-input" type="checkbox" name="customDateFilterSwitch"
                                   id="customDateFilterSwitch-material" onchange="dateFilterSwitch(nonVolume='material')">
                            <label class="form-check-label" for="customDateFilterSwitch-material" id="customDateFilterSwitch-label-material"
                               style="font-weight: bolder; font-size: 14px;">فیلتر تاریخی</label>
                        </div>

                        <label>از تاریخ :</label>
                        <input required name="date-from" style="width: 25%" id="date-from-material" class="bg-light" placeholder="از تاریخ" data-jdp onchange="">

                        <label> &nbsp; &nbsp;تا تاریخ :</label>
                        <input required name="date-through" style="width: 25%" id="date-through-material" class="bg-light" placeholder="تا تاریخ" data-jdp onchange="">

                    </div>

                    <div  class="col-4 px-2 text-centred mx-auto">
                        <label class="p-1"
                               style="text-align: center; font-weight: bolder; font-size: 14px">&nbsp; &nbsp; &nbsp;</label>
                        <br>
                        <button class="btn-color onhover p-1 px-2 w-75"
                                type="submit"
                                onclick=""
                                style="">
                            گزارش گیری
                        </button>
                    </div>

                </form>

            </div>

        </div>

        <div class="row" id="analyze-filter-container">

        </div>

        <div class="row" id="analyze-result-container">

        </div>

        <script>
            analyzer_handle_select()

            // submitAnalyzer(type="Ahjam")

        </script>
    {% endif %}


<div class="modal-overlay" id="day2day-popup" >
      <div class="modal-container" id="day2day-popup-container"  >
            <div class="modal-content editing-modal-content" id="day2day-popup-content"  >
                <div class="modal-header" style="text-align: center">
                    <h5 class="modal-title" id="day2day-popup-header" style="text-align: center">
                    </h5>
                </div>

                <div class="dynamic-content" id="dynamic-content">

                </div>
                <div class="static-content py-2" id="static-content" >
                    <button type="reset" class="btn btn-outline-warning w-100 mx-0 py-0" id="cancel-day2day-btn" style="" onclick="clear_div_hide_popup('dynamic-content', 'day2day-popup')">بستن</button>
                </div>

            </div>
      </div>
</div>


{% endblock %}