{% load static %}
{% load custom_tags %}


<html lang="en" dir="rtl">
<head>
    {% csrf_token %}
    <meta charset="UTF-8">
    <title>Automation System</title>

    <link rel="stylesheet" type="text/css" href="{% static 'css/myStyle.css' %}">

    <script src="{% static 'js/funcs.js' %}"></script>
    <script src="{% static 'js/jquery.js' %}"></script>

    <link type="text/css" rel="stylesheet" href="{% static 'css/jalalidatepicker.min.css' %}" />
    <script type="text/javascript" src="{% static 'js/jalalidatepicker.min.js' %}"></script>


    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet" />
    <!-- Include jQuery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <!-- Include the Select2 JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>


    <script>
        $(document).ready( function () {

            submitForm('suboperation-form');

            search_machine();
            search_profession();
            search_position();
            search_material();
            search_equipes();
            search_equipe();

            search_base_machine();
            search_base_profession();
            search_base_position();
            search_base_material();
            search_base_equipes();
            search_base_equipe();
            search_base_contractor();

            jalaliDatepicker.startWatch({
                time: true,
                hideAfterChange: true,
            });

            let modalID = localStorage.getItem('showModal');
            if (modalID) {
                $(modalID).modal('show');

                localStorage.removeItem('showModal');
            }
        })
    </script>

    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>

<body>

<nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
      <div>
          <a href="/home" class=""><button type="button" class="btn-color onhover" style="font-size: 15px">خانه</button></a>
          <a href="/#" class=""><button type="button" class="btn-color onhover" style="font-size: 15px; background-color: darkblue; color: white" id="peyvast">پیوست</button></a>
          <a href="/home/add-base-data/"><button type="button" class=" btn-color onhover" style="font-size: 15px">اطلاعات پایه</button></a>
          <a href="/home/create-report/"><button type="button" class=" btn-color onhover" style="font-size: 15px">گزارش روزانه</button></a>
          <a href="/home/daily-reports/"><button type="button" class=" btn-color onhover" style="font-size: 15px">آرشیو گزارشات</button></a>
          <a href="/home/analyzer/"><button type="button" class=" btn-color onhover" style="font-size: 15px">آنالیز پروژه</button></a>
      </div>
      <h1 class="navbar-brand" style="font-size: 15px; font-weight: bold">شرکت کیان پولاد سده - کاردان (نسخه آزمایشی)</h1>
    </div>
</nav>

<div id="main-container" class="">

    {% block content %}

    {% endblock %}




    <!--<footer class="bg-light text-center" style="position: fixed; height: 25px; bottom: 0; width: 100%">-->
    <!--  <div class="text-center p-1">-->
    <!--    <a class="text-dark navbar-brand" style="text-decoration: none; font-size: 15px;">این یک نوار اطلاعات ثابت است</a>-->
    <!--  </div>-->
    <!--</footer>-->

</div>


</body>
</html>


