{% extends "base.html" %}
{% load static %}


{% block content %}

<form action="/edit-db/save-daily-report" method="post" id="report-form">
    {% csrf_token %}
    <div class="container-xxl px-4" style="margin-top: 2%">
        <div class="row">

            <div class="row">
                <div class="col-2 h-75">
                    <img class="h-100 mx-auto" src="{% static 'logo/jpc.jpg' %}" style="max-width: 100%; display: block;">
                </div>

                <div class="col-8">
                    <table class="table table-bordered border-dark" id="table-header" style="font-size: 13px;">
                        <thead class="">
                            <tr>
                                <th>پروژه</th>
                                <th class="table-light">
                                    <input id="project_name" value="{{ report.project_name }}" required type="text" name="project_name" placeholder="پروژه"
                                    style="outline: none; border: none; background-color: #f8f9fa">
                                </th>
                                <th>شماره قرارداد</th>
                                <th class="table-light">
                                    <input id="contract_no" value="{{ report.contract_number }}" required type="text" name="contract_no" placeholder="شماره قرارداد"
                                    style="outline: none; border: none; background-color: #f8f9fa">
                                </th>
                                <th>مشاور</th>
                                <th class="table-light">
                                    <input id="consultor_name" value="{{ report.consultor_name }}" required type="text" name="consultor_name" placeholder="مشاور"
                                    style="outline: none; border: none; background-color: #f8f9fa">
                                </th>
                            </tr>

                            <tr>
                                <th>کارفرما</th>
                                <th class="table-light">
                                    <input id="employer" value="{{ report.employer }}" required type="text" name="employer" placeholder="کارفرما"
                                    style="outline: none; border: none; background-color: #f8f9fa">
                                </th>
                                <th>پیمانکار</th>
                                <th class="table-light">
                                    <input id="employee" value="{{ report.employee }}" required type="text" name="employee" placeholder="پیمانکار"
                                    style="outline: none; border: none; background-color: #f8f9fa">
                                </th>

                                <th>تاریخ</th>
                                <th class="table-light">
                                    <input required name="date" id="date" class="bg-light" placeholder="تاریخ" data-jdp>
                                </th>
                            </tr>

                            <tr>
                                <th>میزان گرد و غبار</th>
                                <th class="table-light">
                                    <input id="dust_value" value="{{ report.dust_value }}" required type="number" name="dust_value" placeholder=""
                                    style="border-radius: 0" class="small-input-integer bg-light" step="10" min="0">
                                </th>

                                <th>بیشترین دما &nbsp; || &nbsp; کمترین دما</th>
                                <th class="table-light">
                                    <input required type="number" class="small-input-integer bg-light" value="{{ report.temperature_max }}" name="maxTemp"
                                    style="border-radius: 0" step="1">
                                    &nbsp; || &nbsp;
                                    <input required type="number" class="small-input-integer bg-light" value="{{ report.temperature_min }}" name="minTemp"
                                    style="border-radius: 0" step="1">
                                </th>

                                <th>وضعیت جوی</th>
                                <th class="table-light">
                                    <select required id="weather_status" name="weather_status" value="{{ report.weather }}" class="bg-light">
                                        <option class="bg-light" value="" disabled selected hidden>انتخاب</option>
                                        <option class="bg-light" value="1">آفتابی</option>
                                        <option class="bg-light" value="2">ابری</option>
                                        <option class="bg-light" value="3">بارانی</option>
                                        <option class="bg-light" value="4">برفی</option>
                                    </select>

                                </th>
                            </tr>
                        </thead>
                    </table>
                </div>

                <div class="col-2  h-75">
                    <img class="h-100 mx-auto" src="{% static 'logo/jpc.jpg' %}" style="max-width: 100%; display: block;">
                </div>

            </div>

            <div style="margin-top: -30px" class="col-6 ">

                <div class="row ">

                    <div class="col-4 " style="padding: 0; margin: 0;">
                        <table class="table table-bordered border-dark" id="table-position" style="font-size: 13px;">

                            <thead class="">
                                <tr class="">
                                    <th class="" style="width: 75%">
                                        <span class="badge rounded-pill" style="color: black; margin-left: 5pt;"
                                        data-bs-toggle="modal" data-bs-target="#staticBackdropPositions">
                                            <img src="{% static 'icons/plus-circle.svg' %}"/>
                                        </span>
                                        سمت
                                    </th>
                                    <th class=""  style="text-align: center">
                                        تعداد
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for position in positions %}
                                <tr id="{{ position }}">
                                    <td class="" style="font-family: 'B Nazanin';font-weight: bold; ">
                                        <span class="badge rounded-pill"
                                            style="color: black; margin-left: 5pt;" onclick="del_position('{{ position }}', false)">
                                            <img src="{% static 'icons/patch-minus.svg' %}"/>
                                        </span>
                                        {{ position }}
                                    </td>
                                    <td class="" style="font-family: 'B Nazanin';">
                                        {% if position.count %}
                                            <input style="border-radius: 0; text-align: center;" class="small-input-integer" required type="number" id="{{ position }}_count" name="position_{{ position }}_count" min="0" value="{{ position.count }}">
                                        {% else %}
                                            <input style="border-radius: 0; text-align: center;" class="small-input-integer" required type="number" id="{{ position }}_count" name="position_{{ position }}_count" min="0" value="0">
                                        {% endif %}

                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>

                    <div class="col-7  me-2 " style="padding: 0; margin: 0">
                        <table class="table table-bordered border-dark" id="table-equipes-profession" style="font-size: 13px;">
                            <thead class="">
                                <tr class="">
                                        <th class="" style="width: 40%">
                                            <span class="badge rounded-pill" style="margin-left: 5pt; color: black;"
                                            data-bs-toggle="modal" data-bs-target="#staticBackdropEquipes">
                                                <img src="{% static 'icons/plus-circle.svg' %}"/>
                                            </span>
                                            تخصص
                                        </th>
                                        <th class="" style="text-align: center">اکیپ</th>
                                        <th class="" style="text-align: center">ماهر</th>
                                        <th class="" style="width: 18%; text-align: center">نیمه ماهر</th>
                                        <th class="" style="text-align: center">ساده</th>
                                </tr>
                            </thead>
                            <tbody>

                            {% for equipe in equipes %}
                                <tr id="{{ equipe }}">

                                    <td class="">
                                        <span class="badge rounded-pill"
                                            style="margin-left: 5pt; color: black" onclick="del_profession('{{ equipe }}', false)">
                                            <img src="{% static 'icons/patch-minus.svg' %}"/>
                                        </span>
                                        {{ equipe.profession }}{{ equipe.equipe.profession }}
                                    </td>
                                    <td>
                                        {{ equipe.contractor }}{{ equipe.equipe.contractor }}
                                    </td>
                                    <td class="">
                                        {% if equipe.countExpert %}
                                            <input required style="border-radius: 0; text-align: center;"  class="small-input-integer" type="number" id="{{ equipe.equipe.profession }}_ExpertCount" name="equipe_profession_{{ equipe }}_ExpertCount" min="0" value="{{ equipe.countExpert }}">
                                        {% else %}
                                            <input required style="border-radius: 0; text-align: center;"  class="small-input-integer" type="number" id="{{ equipe.equipe.profession }}_ExpertCount" name="equipe_profession_{{ equipe }}_ExpertCount" min="0" value="0">
                                        {% endif %}
                                    </td>

                                    <td class="">
                                        {% if equipe.countSemiExpert %}
                                            <input required style="border-radius: 0; text-align: center;"  class="small-input-integer" type="number" id="{{ equipe.equipe.profession }}_SemiExpertCount" name="equipe_profession_{{ equipe }}_SemiExpertCount" min="0" value="{{ equipe.countSemiExpert }}">
                                        {% else %}
                                            <input required style="border-radius: 0; text-align: center;"  class="small-input-integer" type="number" id="{{ equipe.equipe.profession }}_SemiExpertCount" name="equipe_profession_{{ equipe }}_SemiExpertCount" min="0" value="0">
                                        {% endif %}
                                    </td>

                                    <td class="">
                                        {% if equipe.countNonExpert %}
                                            <input required style="border-radius: 0; text-align: center;"  class="small-input-integer" type="number" id="{{ equipe.equipe.profession }}_NonExpertCount" name="equipe_profession_{{ equipe }}_NonExpertCount" min="0" value="{{ equipe.countNonExpert }}">
                                        {% else %}
                                            <input required style="border-radius: 0; text-align: center;"  class="small-input-integer" type="number" id="{{ equipe.equipe.profession }}_NonExpertCount" name="equipe_profession_{{ equipe }}_NonExpertCount" min="0" value="0">
                                        {% endif %}
                                    </td>

                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>

                </div>

                <div class="row">

                    <div class="col-5" style="padding: 0; margin: 0">
                        <table class="table table-bordered border-dark" id="table-machine" style="font-size: 13px">
                            <thead class="">
                                <tr class="">
                                    <th class="" style="width: 60%">
                                        <span class="badge rounded-pill" style="margin-left: 5pt; color: black"
                                            data-bs-toggle="modal" data-bs-target="#staticBackdropMachines">
                                            <img src="{% static 'icons/plus-circle.svg' %}"/>
                                        </span>
                                        ماشین
                                    </th>
                                    <th class="">
                                        فعال
                                    </th>

                                    <th class="">
                                        غیرفعال
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for machine in machines %}
                                <tr id="{{ machine }}">
                                    <td class="">
                                        <span class="badge rounded-pill"
                                            style="margin-left: 5pt; color: black" onclick="del_machine('{{ machine }}', false)">
                                            <img src="{% static 'icons/patch-minus.svg' %}"/>
                                        </span>
                                        {{ machine }}
                                    </td>

                                    <td class="">
                                        {% if machine.activeCount %}
                                            <input style="border-radius: 0; text-align: center;"  required class="small-input-integer" type="number" id="{{ machine }}_activeCount" name="machine_{{ machine }}_activeCount" min="0" value="{{ machine.activeCount }}">
                                        {% else %}
                                            <input style="border-radius: 0; text-align: center;"  required class="small-input-integer" type="number" id="{{ machine }}_activeCount" name="machine_{{ machine }}_activeCount" min="0" value="0"
                                        {% endif %}

                                    </td>

                                    <td class="">
                                        {% if machine.inactiveCount %}
                                            <input style="border-radius: 0; text-align: center;"  required class="small-input-integer" type="number" id="{{ machine }}_inactiveCount" name="machine_{{ machine }}_inactiveCount" min="0" value="{{ machine.inactiveCount }}">
                                        {% else %}
                                            <input style="border-radius: 0; text-align: center;"  required class="small-input-integer" type="number" id="{{ machine }}_inactiveCount" name="machine_{{ machine }}_inactiveCount" min="0" value="0"
                                        {% endif %}

                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>

                    <div class="col-6 me-2" style="padding: 0; margin: 0">
                        <table class="table table-bordered border-dark" id="table-material" style="font-size: 13px">
                            <thead class="">
                                <tr class="">
                                    <th class="" >
                                        <span class="badge rounded-pill" style="margin-left: 5pt; color: black"
                                            data-bs-toggle="modal" data-bs-target="#staticBackdropMaterials">
                                            <img src="{% static 'icons/plus-circle.svg' %}"/>
                                        </span>
                                        مصالح
                                    </th>
                                    <th class="">
                                        مقدار
                                    </th>
                                    <th class="">
                                        واحد
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for material in materials %}
                                <tr id="{{ material }}">
                                    <td class="">
                                        <span class="badge rounded-pill"
                                            style="margin-left: 5pt; color: black" onclick="del_material('{{ material }}', false)">
                                            <img src="{% static 'icons/patch-minus.svg' %}"/>
                                        </span>
                                        {{ material }}
                                    </td>
                                    <td class="">
                                        {% if material.amount %}
                                            <input style="border-radius: 0; text-align: center;"  required class="small-input-integer w-75" type="number" id="{{ material }}_count" step="0.1"
                                                   name="material_{{ material }}_count" min="0" value="{{ material.amount }}">


                                    </td>
                                    <td class="">
                                        <select required class="form-select" name="material_{{ material }}_unit" id="{{ material }}_unit_options"
                                            style="font-size: 11px; padding: 0; padding-right: 20%; border-radius: 0; text-align: center;">

                                            {% if material.amount %}

                                            {% else %}
                                                <option selected disabled hidden value="" >انتخاب</option>
                                            {% endif %}

                                            {% for unit in units %}

                                                {% if material.unit == unit %}
                                                    <option value="{{ unit.name }}" selected name="">{{ unit.name }}</option>
                                                {% else %}
                                                    <option value="{{ unit.name }}" name="">{{ unit.name }}</option>
                                                {% endif %}

                                            {% endfor %}

                                        </select>
                                    </td>

                                        {% else %}

                                            <input style="border-radius: 0; text-align: center;"  required class="small-input-integer w-75" type="number" id="{{ material }}_count" step="0.1"
                                                   name="material_{{ material }}_count" min="0" value="0" onchange="toggle_requirement('{{ material }}_unit_options', '{{ material }}_count')">


                                    </td>

                                    <td class="">

                                        <select class="form-select" name="material_{{ material }}_unit" id="{{ material }}_unit_options"
                                            style="font-size: 11px; text-align: left; padding: 0; padding-left: 15%">

                                            {% if material.amount %}

                                            {% else %}
                                                <option selected disabled hidden value="" >انتخاب</option>
                                            {% endif %}


                                            {% for unit in units %}

                                                {% if material.unit == unit %}
                                                    <option value="{{ unit.name }}" selected name="">{{ unit.name }}</option>
                                                {% else %}
                                                    <option value="{{ unit.name }}" name="">{{ unit.name }}</option>
                                                {% endif %}

                                            {% endfor %}

                                        </select>
                                    </td>

                                        {% endif %}

                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>

                </div>

            </div>

            <div style="margin-top: -30px" class="col-6 ">
                <table class="table table-bordered border-dark" id="table-task" style="font-size: 13px">
                    <thead class="">
                        <tr class="">
                            <th class="" style="width: 35%">
                                <span class="badge rounded-pill" style="margin-left: 5pt; color: black"
                                        data-bs-toggle="modal" data-bs-target="#staticBackdropTasks">
                                    <img src="{% static 'icons/plus-circle.svg' %}"/>
                                </span>
                                شرح عملیات
                            </th>
                            <th class="" style="width: 17%">
                                اکیپ
                            </th>
                            <th class="" style="width: 7%">
                                موقعیت
                            </th>
                            <th class="text-centred" style="width: 7%">
                                امروز
                            </th>
                            <th class="text-centred" style="width: 9%">
                                تا دیروز
                            </th>
                            <th class="text-centred" style="width: 5%">
                                کل
                            </th>
                            <th class="text-centred" style="width: 8%">
                                درصد
                            </th>
                            <th class="text-centred" style="width: 9% ">
                                واحد
                            </th>
                        </tr>
                    </thead>

                    <tbody>

                        {% for task in tasks %}
                            <tr  id="{{task.name}}-{{task.equipe}}-{{task.zone}}">
                                <td>
                                    <span class="badge rounded-pill"
                                        style="margin-left: 5pt; color: black; " onclick="del_task('{{ task.name }}', '{{ task.equipe }}', '{{ task.zone }}', '{{ task.totalVolume }}', '{{ task.unit }}', false)">
                                        <img src="{% static 'icons/patch-minus.svg' %}"/>
                                    </span>
                                    {{ task.task.name }}
                                    {{ task.name }}
                                </td>

                                <td>
                                    {{ task.task.equipe }}
                                    {{ task.equipe.name }}
                                </td>

                                <td>
                                    {{ task.task.zone }}
                                    {{ task.zone }}
                                </td>

                                <td>
                                    <input style="border-radius: 0; text-align: center;"  required class="small-input-integer" id="task_{{ task.task.unique_str }}{{ task.unique_str }}_today"
                                           name="task_{{ task.task.unique_str }}{{ task.unique_str }}_today" min="0" value="0" type="number">
                                </td>

                                <td class="text-centred">
                                    {{ task.task.doneVolume }}
                                    {{ task.doneVolume }}
                                </td>

                                <td class="text-centred">
                                    {{ task.task.totalVolume }}
                                    {{ task.totalVolume }}
                                </td>

                                <td class="text-centred">
                                    {{ task.task.donePercentage|floatformat:2 }}
                                    {{ task.donePercentage|floatformat:2 }}%
                                </td>

                                <td class="text-centred">
                                    {{ task.task.unit }}
                                    {{ task.unit }}
                                </td>


                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>


        <div class="row">

            <button type="submit" class="btn btn-success ">ذخیره</button>

        </div>

    </div>


</form>









    <div class="modal fade" id="staticBackdropProfessions" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" ></button>
                    <h5 class="modal-title" id="staticBackdropProfessionsLabel" style="margin-right: auto">افزودن تخصص</h5>
                </div>

                <div class="modal-body">
                        <div class="input-group mb-3">
                            <input id="profession-name" disabled required type="text" name="profession" class="form-control" placeholder="تخصص">

                            <div class="dropdown">
                                <button class="btn btn-outline-secondary dropdown-toggle" type="button"
                                        id="dropdownMenuProfessions" data-bs-toggle="dropdown" onclick='fetch_options("profession")'>
                                    انتخاب
                                </button>
                                <ul class="dropdown-menu" id="dropdown-menu-professions">
                                    <li>
                                        <div class="input-group px-2 mb-3">
                                            <input type="text" class="form-control" placeholder="جستجو" id="search-profession">
                                        </div>
                                    </li>
                                    <li><hr class="dropdown-divider"></li>
<!--                                    {% for profession in professions %}-->
<!--                                        <li><a class="dropdown-item">{{ profession }}</a></li>-->
<!--                                    {% endfor %}-->
                                </ul>
                            </div>

                            <button class="btn btn-outline-success bp3-round" onclick="add_profession_to_daily_report()"
                                    type="button" id="btn-add-profession" style="border: none">افزودن</button>
                        </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-warning" data-bs-dismiss="modal" >تکمیل</button>
                </div>

            </div>
        </div>
    </div>


    <div class="modal fade" id="staticBackdropMachines" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" >
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" ></button>
                    <h5 class="modal-title" id="staticBackdropMachinesLabel" style="margin-right: auto">افزودن ماشین</h5>
                </div>

                <div class="modal-body">
                        <div class="input-group mb-3">
                            <input id="machine-name" disabled required type="text" name="machine" class="form-control" placeholder="ماشین">

                            <div class="dropdown">
                                <button class="btn btn-outline-secondary dropdown-toggle px-5" type="button"
                                        id="dropdownMenuMachines" data-bs-toggle="dropdown" onclick='fetch_options("machine")' >
                                    انتخاب
                                </button>

                                <ul class="dropdown-menu" id="dropdown-menu-machines" aria-labelledby="dropdownMenuMachines">
                                    <li>
                                        <div class="input-group px-2 mb-3">
                                            <input type="text" class="form-control" placeholder="جستجو" id="search-machine">
                                        </div>
                                    </li>
                                    <li><hr class="dropdown-divider"></li>
                                    {% for machine in machines %}
                                        <li><a class="dropdown-item">{{ machine }}</a></li>
                                    {% endfor %}


                                </ul>
                            </div>
                        </div>
                </div>

                <div class="modal-footer">
                    <button class="btn btn-outline-success bp3-round" onclick="add_machine_to_daily_report()"
                                    type="button" id="btn-add-machine">افزودن</button>
                    <button type="button" class="btn btn-outline-warning" data-bs-dismiss="modal" >تکمیل</button>
                </div>

            </div>
        </div>
    </div>


    <div class="modal fade" id="staticBackdropPositions" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"   >
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" ></button>
                    <h5 class="modal-title" id="staticBackdropPositionsLabel" style="margin-right: auto">افزودن سمت</h5>
                </div>

                <div class="modal-body">
                        <div class="input-group mb-3">
                            <input id="position-name" disabled required type="text"
                                   name="position" class="form-control" placeholder="سمت">


                            <div class="dropdown">
                                <button class="btn btn-outline-secondary dropdown-toggle  px-5  " type="button"
                                        id="dropdownMenuPositions" data-bs-toggle="dropdown" onclick='fetch_options("position")' >
                                    انتخاب
                                </button>
                                <ul class="dropdown-menu" id="dropdown-menu-positions" aria-labelledby="dropdownMenuPositions">
                                    <li>
                                        <div class="input-group px-2 mb-3">
                                            <input type="text" class="form-control" placeholder="جستجو" id="search-position">
                                        </div>
                                    </li>
                                    <li><hr class="dropdown-divider"></li>
                                    {% for position in positions %}
                                        <li><a class="dropdown-item">{{ position }}</a></li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                </div>

                <div class="modal-footer">
                    <button class="btn btn-outline-success bp3-round" onclick="add_position_to_daily_report()"
                                    type="button" id="btn-add-position">افزودن</button>
                    <button type="button" class="btn btn-outline-warning" data-bs-dismiss="modal" >تکمیل</button>
                </div>

            </div>
        </div>
    </div>


    <div class="modal fade" id="staticBackdropMaterials" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" ></button>
                    <h5 class="modal-title" id="staticBackdropMaterialsLabel" style="margin-right: auto">افزودن مصالح</h5>
                </div>

                <div class="modal-body">
                        <div class="input-group mb-3">
                            <input id="material-name" disabled required type="text" name="material" class="form-control" placeholder="مصالح">

                            <div class="dropdown">
                                <button class="btn btn-outline-secondary dropdown-toggle px-5" type="button"
                                        id="dropdownMenuMaterials" data-bs-toggle="dropdown" onclick='fetch_options("material")' >
                                    انتخاب
                                </button>

                                <ul class="dropdown-menu" id="dropdown-menu-materials" aria-labelledby="dropdownMenuMaterials">
                                    <li>
                                        <div class="input-group px-2 mb-3">
                                            <input type="text" class="form-control" placeholder="جستجو" id="search-material">
                                        </div>
                                    </li>
                                    <li><hr class="dropdown-divider"></li>
                                    {% for material in materials %}
                                        <li><a class="dropdown-item">{{ material }}</a></li>
                                    {% endfor %}


                                </ul>
                            </div>
                        </div>
                </div>

                <div class="modal-footer">
                    <button class="btn btn-outline-success bp3-round" onclick="add_material_to_daily_report()"
                                    type="button" id="btn-add-material">افزودن</button>
                    <button type="button" class="btn btn-outline-warning" data-bs-dismiss="modal" >تکمیل</button>
                </div>

            </div>
        </div>
    </div>


    <div class="modal fade" id="staticBackdropEquipes" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" ></button>
                    <h5 class="modal-title" id="staticBackdropEquipesLabel" style="margin-right: auto">افزودن اکیپ</h5>
                </div>

                <div class="modal-body">
                        <div class="input-group mb-3">
                            <input id="equipe-profession-name" disabled required type="text" name="equipe" class="form-control" placeholder="اکیپ">
                            <div class="dropdown">

                                <button class="btn btn-outline-secondary dropdown-toggle px-7" type="button"
                                        id="dropdownMenuEquipesProfessions" data-bs-toggle="dropdown" onclick='fetch_equipes()'>
                                    انتخاب تخصص
                                </button>
                                <ul class="dropdown-menu" id="dropdown-menu-equipes-professions">
                                    <li>
                                        <div class="input-group px-2 mb-3">
                                            <input type="text" class="form-control" placeholder="جستجو" id="search-equipe-profession">
                                        </div>
                                    </li>
                                    <li><hr class="dropdown-divider"></li>

                                </ul>
                            </div>
                        </div>

                </div>

                <div class="modal-footer">
                    <button class="btn btn-outline-success bp3-round" onclick="add_equipe_to_daily_report()" style="float: left;"
                                    type="button" id="btn-add-equipe" style="border: none">افزودن</button>
                    <button type="button" class="btn btn-outline-warning" data-bs-dismiss="modal" >تکمیل</button>
                </div>

            </div>
        </div>
    </div>


    <div class="modal fade" id="staticBackdropTasks" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" ></button>
                    <h5 class="modal-title" id="staticBackdropTasksLabel" style="margin-right: auto">افزودن عملیات</h5>
                </div>

                <div class="modal-body">
                        <div class="input-group mb-3">
                            <input id="task-name" disabled required type="text" name="task" class="form-control" placeholder="عملیات">
                            <div class="dropdown">
                                <button class="btn btn-outline-secondary dropdown-toggle px-5" type="button"
                                        id="dropdownMenuTasks" data-bs-toggle="dropdown" onclick='fetch_tasks()'>
                                    انتخاب
                                </button>
                                <ul class="dropdown-menu" id="dropdown-menu-tasks">
                                    <li>
                                        <div class="input-group px-2 mb-3">
                                            <input type="text" class="form-control" placeholder="جستجو" id="search-task">
                                        </div>
                                    </li>
                                    <li><hr class="dropdown-divider"></li>

                                </ul>
                            </div>
                        </div>

                </div>

                <div class="modal-footer">
                    <button class="btn btn-outline-success bp3-round" onclick="add_task_to_daily_report()" style="float: left;"
                                    type="button" id="btn-add-task" style="border: none">افزودن</button>
                    <button type="button" class="btn btn-outline-warning" data-bs-dismiss="modal" >تکمیل</button>
                </div>

            </div>
        </div>
    </div>



{% endblock %}




