{% extends "base.html" %}
{% load static %}

{% block content %}



<div class="container" style="margin-top: 0.5%">

    <div class="row  mb-3">
        <div class="col-6">
            <table class="table table-bordered border-dark" style="font-size: 11px">
                <thead class="">
                    <tr class="">
                        <th class="" >
                            عملیات اصلی
                                <span class="badge rounded-pill" style="float: left; color: black"
                                   data-bs-toggle="modal" data-bs-target="#staticBackdropOperations">
                                    <img src=" {% static 'icons/plus-circle.svg' %} "></span>
                        </th>
                        <th style="width: 20%;">
                            واحد
                        </th>

                        <th style="width: 20%;">
                            مقدار کل
                        </th>
                    </tr>
                </thead>
            </table>
            <div style="height: 315px; overflow-y: scroll; margin-top: -10pt">
                <table class="table table-bordered border-dark" id="table-operation" style="font-size: 11px">
                    <thead hidden>
                        <tr class="">
                            <th class="" >
                                عملیات
                                    <span class="badge rounded-pill" style="float: left; color: black"
                                       data-bs-toggle="modal" data-bs-target="#staticBackdropOperations">
                                        <img src=" {% static 'icons/plus-circle.svg' %} "></span>
                            </th>
                            <th style="width: 20%;">
                                واحد
                            </th>

                            <th style="width: 20%;">
                                مقدار کل
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for operation in operations %}
                            <tr  id="{{ operation }}">
                                <td>
                                    {{ operation }}
                                    <span class="badge rounded-pill"
                                        style="float: left; color: black; " onclick="del_operation('{{ operation }}', true)">
                                        <img src="{% static 'icons/patch-minus.svg' %}"></span>

                                    <span class="badge rounded-pill"
                                          style="float: right; color: black; " onclick=""
                                          data-bs-toggle="modal" data-bs-target="#staticBackdropSubOperations-{{ operation.id }}">

                                        <img src="{% static 'icons/list-task.svg' %}" style="-webkit-transform: scaleX(-1); transform: scaleX(-1);"></span>
                                </td>

                                <td style="width: 20%;">
                                    {{ operation.unit }}
                                </td>

                                <td style="width: 20%;">
                                    {{ operation.amount }}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="row mb-3" style="height: 5px; background-color: #ff9d00; border-radius: 5px;"></div>



</div>





<div class="modal fade" id="staticBackdropOperations" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" ></button>
                <h5 class="modal-title" id="staticBackdropOperationsLabel" style="margin-right: auto">افزودن عملیات اصلی</h5>
            </div>

            <div class="modal-body">
                <form action="/edit-db/add-operation" method="post">
                    {% csrf_token %}
                    <div class="input-group mb-3">
                        <input required type="text" name="operation" class="form-control" placeholder="نام عملیات">
                    </div>

                    <div class="input-group mb-3">
                        <div class="dropdown">
                            <button class="btn btn-outline-secondary dropdown-toggle" type="button"
                                    id="dropdownMenuUnitsOperations" data-bs-toggle="dropdown" onclick='fetch_options("unit")'>
                                انتخاب واحد
                            </button>
                            <ul class="dropdown-menu" id="dropdown-menu-units">
                                <li>
                                    <div class="input-group px-2 mb-3">
                                        <input type="text" class="form-control" placeholder="جستجو" id="search-unit">
                                    </div>
                                </li>
                                <li><hr class="dropdown-divider"></li>
                            </ul>
                        </div>
                    </div>
            </div>

            <div class="modal-footer">
                <button class="btn btn-outline-success bp3-round"
                                type="submit" id="button-addon10">افزودن</button>
                </form>
                <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal" >تکمیل</button>
            </div>

        </div>
    </div>
</div>


{% for operation in operations %}
    <div class="modal fade" id="staticBackdropSubOperations-{{ operation.id }}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" ></button>
                    <h5 class="modal-title" id="staticBackdropSubOperationsLabel-{{ operation.id }}" style="margin-right: auto">زیرعملیات های {{ operation }}</h5>
                </div>

                <div class="modal-body">

                    <div class="input-group mb-3">
                        <table class="table table-bordered border-dark" id="table-{{ operation.id }}" style="font-size: 11px">
                            <thead class="">
                                <tr class="">
                                    <th class=""  colspan="2" style="text-align: center">
                                        {{ operation }}
                                    </th>
                                    <th class=""  colspan="1" style="text-align: center">
                                        {{ operation.amount }}
                                    </th>
                                    <th class=""  colspan="1" style="text-align: center">
                                        {{ operation.unit }}
                                    </th>
                                </tr>
                            </thead>
                            <thead class="">
                                <tr class="">
                                    <th class="" >
                                        شرح زیرعملیات
                                    </th>

                                    <th style="width: 20%;">
                                        وزن %
                                    </th>

                                    <th style="width: 20%;">
                                        مقدار
                                    </th>

                                    <th style="width: 20%;">
                                        واحد
                                    </th>

                                </tr>
                            </thead>

                            <tbody>
                                {% for suboperation in operation.suboperations.all %}
                                    <tr id="suboperation-{{ suboperation.name }}-{{ operation.id }}">
                                        <td>
                                            {{ suboperation.name }}

                                            <span class="badge rounded-pill"
                                                style="float: right; color: black; " onclick="del_suboperation('{{ suboperation.name }}', '{{ operation.id }}', true)">
                                                <img src="{% static 'icons/patch-minus.svg' %}">
                                            </span>

                                        </td>

                                        <td class="weights-{{operation.id}}">
                                            {{ suboperation.weight }}
                                        </td>

                                        <td>
                                            {{ suboperation.amount }}
                                        </td>

                                        <td>
                                            {{ suboperation.unit }}
                                        </td>

                                    </tr>
                                {% endfor %}
                            </tbody>

                            <form id="form-{{ operation.id }}">
                                <div class="input-group mb-3">
                                    <table class="" style="font-size: 11px;">
                                        <thead class="" style="">
                                            <input hidden value="{{ operation.id }}" name="operation-id" id="suboperation-operation-{{ operation.id }}">

                                            <th style="width: 187px; background-color: white; border: solid black 1px">
                                                <input required type="text" name="name" style="outline: none; background-color: white;
                                                 border: none; width: 100%; padding: 3px"
                                                       id="suboperation-name-{{ operation.id }}"
                                                       class="" placeholder="نام زیرعملیات">
                                            </th>

                                            <th style="width: 93px; background-color: white; border: solid black 1px">
                                                <input required type="number" name="weight" style="outline: none; background-color: white;
                                                   border: none; width: 100%; padding: 3px"
                                                   class="" placeholder="وزن %" max="{{ operation.freeWeight }}" min="0" id="suboperation-weight-{{ operation.id }}">
                                            </th>


                                            <th style="width: 93px; background-color: white; border: solid black 1px">
                                                <input required type="number" name="amount" style="outline: none; background-color: white;
                                                border: none; width: 100%; padding: 3px"
                                                   class="" placeholder="مقدار" id="suboperation-amount-{{ operation.id }}">
                                            </th>
                                        </thead>
                                    </table>

                                    <div id="unit-box-{{ operation.id }}" style="width: 90px;">
                                        <select required class="select2" id="select2-{{ operation.id }}"
                                                name="unit" style="width: 90px; border: solid black" onclick="findselect2('{{ operation.id }}')">
                                            <option disabled selected value="" style="background-color: red">
                                                انتخاب
                                            </option>
                                            {% for unit in units %}
                                                <option value="{{ unit }}">
                                                    {{ unit }}
                                                </option>
                                            {% endfor %}
                                        </select>
                                    </div>

                                </div>

                                <button class="btn btn-outline-success bp3-round w-100"
                                                type="submit" id="button-addon11">افزودن</button>
                            </form>
                        </table>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-warning w-100" data-bs-dismiss="modal" >تکمیل</button>
                    </div>

                </div>
            </div>
        </div>
    </div>
{% endfor %}




{% for operation in operations %}
    <script>
        $('#select2-'+"{{ operation.id }}").select2({
            dropdownParent: $("#unit-box-"+"{{ operation.id }}")
        });

        submitForm("{{ operation.id }}", 'suboperation')
    </script>
{% endfor %}





{% endblock %}
