{% extends 'pdf_A4_dailyReport_base.html' %}
{% load static %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% load mathfilters %}
{% load custom_tags %}

{% block content %}
    <div class="box">
        <!--    SECTION 01 BEGINS    -->
        {% include 'pdf_A4_dailyReport_inDetails_humanresources_portrait.html' with data=humanresources.0 headers=headers report=report %}
        <!--    SECTION 01 ENDS    -->

        <!--    SECTION 02 BEGINS    -->
        {% include 'pdf_A4_dailyReport_compact_machines_materials_portrait.html' with data_1=machines data_2=materials headers=headers report=report  %}
        <!--    SECTION 02 ENDS    -->

        <!--    SECTION 03 BEGINS    -->
        <!--    SECTION 03 ENDS    -->

        <!--    SECTION 04 BEGINS    -->
        {% include 'pdf_A4_dailyReport_compact_tasks_landscape.html' with data=tasks headers=headers report=report helper=helper  %}
        <!--    SECTION 04 ENDS    -->

        <!--    SECTION 05 BEGINS    -->
        {% include 'pdf_A4_dailyReport_inDetails_issues_portrait.html' with data=issues headers=headers report=report helper=helper  %}
        <!--    SECTION 05 ENDS    -->

<!--        <div class="footer">-->
<!--        </div>-->
    </div>
{% endblock %}
