{% load static %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% load mathfilters %}
{% load custom_tags %}

{% for page_number in data.page_count|arange %}
    <div class="box">
        {% include 'pdf_A4_dailyReport_headers.html' with data=headers %}

        <div class="content">
            <table class="table-label">
                <thead>
                    <tr>
                        <th style="text-align: center">گزارش نیروی انسانی</th>
                    </tr>
                </thead>
            </table>

            <div class="sub-content">
                <table class="table-setadi-resources-daily" id="table-setadi-resources-daily-p01">
                    <thead>
                        <tr>
                            <th colspan="3">
                                نیروهای ستادی
                            </th>
                        </tr>
                    </thead>
                    <thead style="height: 200%">
                        <tr>
                            <th style="width: 70%;">
                                سمت
                            </th>

                            <th style="width: 30%;">
                                تعداد
                            </th>
                        </tr>
                    </thead>
                    <!-- 30 rows per page-->
                    <tbody>
                    {% for obj in data.positions.objects|getIndex:page_number %}
                        <tr>
                            <td>
                                {{obj}}
                            </td>
                            <td>
                                {{obj.count}}
                            </td>
                        </tr>
                    {% endfor %}

                    {% if data.positions.objects|getIndex:page_number|length <  data.positions.max_count %}

                        {% for i in data.positions.rem_rows|getIndex:page_number|arange %}
                            <tr>
                                <td>
                                    -
                                </td>
                                <td>
                                    -
                                </td>
                            </tr>
                        {% endfor %}
                    {% endif %}
                    </tbody>

                    <thead style="">
                        <tr>
                            <th style="width: 70%;">
                                 تعداد کل ستادی
                            </th>

                            <th style="width: 30%;">
                                {{ report.countPositions }}
                            </th>
                        </tr>
                    </thead>
                </table>

                <table class="table-ejrayi-resources-daily" id="table-ejrayi-resources-daily-p01">
                    <thead>
                        <tr>
                            <th colspan="6">
                                نیروهای اجرایی (شرکتی و پیمانی)
                            </th>
                        </tr>
                        <tr>
                            <th style="width: 20%" rowspan="2">
                                پیمانکار
                            </th>

                            <th style="width: 20%" rowspan="2">
                                تخصص
                            </th>

                            <th style="width: 40%" colspan="3">
                                مهارت
                            </th>

                            <th style="width: 20%" rowspan="2">
                                تعداد کل
                            </th>
                        </tr>

                        <tr>
                            <th style="">
                                ماهر
                            </th>
                            <th style="">
                                نیمه ماهر
                            </th>
                            <th style="">
                                ساده
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for obj in data.professions.objects|getIndex:page_number %}
                            <tr>
                                <td>
                                    {{obj.equipe.contractor}}
                                </td>
                                <td>
                                    {{obj.equipe.profession}}
                                </td>
                                <td>
                                    {{obj.countExpert}}
                                </td>
                                <td>
                                    {{obj.countSemiExpert}}
                                </td>
                                <td>
                                    {{obj.countNonExpert}}
                                </td>
                                <td>
                                    {{obj.countTotal}}
                                </td>
                            </tr>
                        {% endfor %}

                        {% if data.professions.objects|getIndex:page_number|length < data.professions.max_count %}

                            {% for i in data.professions.rem_rows|getIndex:page_number|arange %}
                                <tr>
                                    <td>
                                        -
                                    </td>
                                    <td>
                                        -
                                    </td>
                                    <td>
                                        -
                                    </td>
                                    <td>
                                        -
                                    </td>
                                    <td>
                                        -
                                    </td>
                                    <td>
                                        -
                                    </td>
                                </tr>
                            {% endfor %}
                        {% endif %}
                    </tbody>

                    <thead style="">
                        <tr>
                            <th style="width: 70%;" colspan="5">
                                تعداد کل اجرایی
                            </th>

                            <th style="width: 30%;">
                                {{ report.countProfessions }}
                            </th>
                        </tr>

                    </thead>
                </table>

                <table class="table-human-resources-count" id="table-human-resources-count-p01">
                    <thead>
                        <tr>
                            <th style="width: 50%">
                                تعداد کل نیروی انسانی
                            </th>
                            <th style="width: 50%">
                                {{ report.countPeople }}
                            </th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>

<!--        <div class="footer">-->
<!--        </div>-->
    </div>

{% endfor %}
