{% load static %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% load mathfilters %}
{% load custom_tags %}

{% for page_number in data.page_count|arange %}
    <div class="box">
        {% include 'pdf_A4_dailyReport_headers.html' with data=headers %}

        <div class="content">
            <table class="table-label">
                <thead>
                    <tr>
                        <th style="text-align: center">گزارش مشکلات کارگاهی</th>
                    </tr>
                </thead>
            </table>

            <div class="sub-content">
                <table class="table-issues-daily" id="table-issues-daily-p01">
                    <thead>
                        <tr>
                            <th colspan="5">
                                مشکلات
                            </th>
                        </tr>
                    </thead>
                    <thead style="">
                        <tr>
                            <th style="width: 15%;">
                                نوع مشکل
                            </th>
                            <th style="width: 10%;">
                                رسته
                            </th>
                            <th style="width: 15%;">
                                موقعیت
                            </th>
                            <th style="width: 50%;">
                                شرح مشکل
                            </th>
                            <th style="width: 10%;">
                                وضعیت
                            </th>
                        </tr>
                    </thead>

                    <tbody>
                        {% for obj in data.issues.objects|getIndex:page_number %}
                            <tr>
                                <td>
                                    {{obj.issue.issue}}
                                </td>
                                <td>
                                    {{obj.issue.projectField}}
                                </td>
                                <td>
                                    {{obj.issue.zone}}
                                </td>
                                <td>
                                    {{obj.issue.description}}
                                </td>
                                <td>
                                    {% if obj.state %}
                                        موجود
                                    {%else%}
                                        رفع شد
                                    {%endif%}
                                </td>

                            </tr>
                        {% endfor %}

                        {% if data.positions.objects|getIndex:page_number|length <  data.positions.max_count %}

                            {% for i in data.issues.rem_rows|getIndex:page_number|arange %}
                                <tr style="border: none">
                                    <td style="border: none">
                                        &nbsp;
                                    </td>
                                    <td style="border: none">
                                        &nbsp;
                                    </td>
                                    <td style="border: none">
                                        &nbsp;
                                    </td>
                                    <td style="border: none">
                                        &nbsp;
                                    </td>
                                    <td style="border: none">
                                        &nbsp;
                                    </td>
                                </tr>
                            {% endfor %}
                        {% endif %}

                    </tbody>
                </table>
            </div>
        </div>

<!--        <div class="footer">-->
<!--        </div>-->
    </div>

{% endfor %}
