{% extends "base.html" %}

{% block content %}
    <div class="container-xxl px-4" style="margin-top: 1%;">

        <div class="row">

            <div class="row">
                <table class="table" id="table-header" style="font-size: 13px;">
                    <thead class="table-dark">
                        <tr>
                            <th>پروژه</th>
                            <th class="table-light">{{ report.project_name }}</th>
                            <th>شماره قرارداد</th>
                            <th class="table-light">{{ report.contract_number }}</th>
                        </tr>
                        <tr>
                            <th>کارفرما</th>
                            <th class="table-light">{{ report.employer }}</th>
                            <th>پیمانکار</th>
                            <th class="table-light">{{ report.employee }}</th>
                        </tr>
                        <tr>
                            <th>تاریخ</th>
                            <th class="table-light">{{ other.date }}</th>
                            <th>روز</th>
                            <th class="table-light">{{ other.weekday }}</th>
                        </tr>
                    </thead>
                </table>
            </div>

            <div class="col-6">

                <div class="row" style="margin-bottom: 0; padding-bottom: 0">

                    <div class="col-4" style="padding: 0; margin: 0;">
                        <table class="table" id="table-position" style="font-size: 13px;">
                            <thead class="table-dark">
                                <tr>
                                    <th style="width: 75%">سمت</th>
                                    <th style="text-align: center">تعداد</th>
                                </tr>
                            </thead>
                            {% for position in positions %}
                                <tr>
                                    <td>{{ position }}</td>
                                    <td style="text-align: center">{{ position.count }}</td>
                                </tr>
                            {% endfor %}
                            <thead class="table-dark">
                                <tr>
                                    <th style="width: 75%">تعداد کل</th>
                                    <th style="text-align: center">{{ report.countPositions }}</th>
                                </tr>
                            </thead>
                        </table>
                    </div>

                    <div class="col-7 me-2" style="padding: 0; margin: 0;">
                        <table class="table" id="table-profession" style="font-size: 13px">
                            <thead class="table-dark">
                                <tr>
                                    <th>تخصص</th>
                                    <th>پیمانکار</th>
                                    <th style="text-align: center">ماهر</th>
                                    <th style="width: 18%; text-align: center">نیمه ماهر</th>
                                    <th style="text-align: center">ساده</th>
                                    <th style="text-align: center">کل</th>
                                </tr>
                            </thead>
                            {% for equipe in equipes %}
                                <tr>
                                    <td>{{ equipe.equipe.profession }}</td>
                                    <td>{{ equipe.equipe.contractor }}</td>
                                    <td style="text-align: center">{{ equipe.countExpert }}</td>
                                    <td style="text-align: center">{{ equipe.countSemiExpert }}</td>
                                    <td style="text-align: center">{{ equipe.countNonExpert }}</td>
                                    <td style="text-align: center">{{ equipe.countTotal }}</td>
                                </tr>
                            {% endfor %}
                            <thead class="table-dark">
                                <tr>
                                    <th style="width: 75%" colspan="5">تعداد کل</th>
                                    <th style="text-align: center">{{ report.countProfessions }}</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>

                <div class="row" style="margin-top: 0">
                    <div class="col-11" style="padding: 0; margin: 0;">
                        <table class="table me-1" style="margin-top: 0;">
                            <thead class="table-dark" style="font-size: 13px">
                                <tr>
                                    <th style="width: 90%">تعداد کل نفرات</th>
                                    <th style="text-align: center">{{ report.countPeople }}</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>

                <div class="row">

                    <div class="col-5" style="padding: 0; margin: 0;">
                        <table class="table" id="table-machine" style="font-size: 13px">
                            <thead class="table-dark">
                                <tr>
                                    <th style="width: 60%">ماشین</th>
                                    <th style="text-align: center">فعال</th>
                                    <th style="text-align: center">غیرفعال</th>
                                    <th style="text-align: center">کل</th>
                                </tr>
                            </thead>
                            {% for machine in machines %}
                                <tr>
                                    <td>{{ machine }}</td>
                                    <td style="text-align: center">{{ machine.activeCount }}</td>
                                    <td style="text-align: center">{{ machine.inactiveCount }}</td>
                                    <td style="text-align: center">{{ machine.totalCount }}</td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>

                    <div class="col-6 me-2" style="padding: 0; margin: 0;">
                        <table class="table" id="table-material" style="font-size: 13px">
                            <thead class="table-dark">
                                <tr>
                                    <th>مصالح</th>
                                    <th style="text-align: center">مقدار</th>
                                    <th style="text-align: center">واحد</th>
                                </tr>
                            </thead>
                            {% for material in materials %}
                                <tr>
                                    <td>{{ material }}</td>
                                    <td style="text-align: center">{{ material.amount }}</td>
                                    <td style="text-align: center">{{ material.unit }}</td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>

                </div>
            </div>


            <div class="col-6">
                <table class="table" id="table-task" style="font-size: 13px">

                <thead class="table-dark">
                    <tr class="">
                        <th class="" style="width: 27%">
                            شرح عملیات
                        </th>
                        <th class="" style="width: 18%" >
                            اکیپ
                        </th>
                        <th class="" style="width: 8%" >
                            زون
                        </th>
                        <th class="text-centred" >
                            امروز
                        </th>
                        <th class="text-centred" >
                            تا دیروز
                        </th>
                        <th class="text-centred" >
                            مقدار کل
                        </th>
                        <th class="text-centred" >
                            درصد
                        </th>
                        <th class="text-centred" style="width: 10%">
                            واحد
                        </th>
                    </tr>
                </thead>

                <tbody>
                    {% for task in tasks %}
                        <tr  id="{{task.name}}-{{task.equipe}}-{{task.zone}}">
                            <td>
                                {{ task.task.name }}
                            </td>

                            <td>
                                {{ task.task.equipe }}
                            </td>

                            <td>
                                {{ task.task.zone }}
                            </td>

                            <td class="text-centred">
                                {{ task.todayVolume }}
                            </td>

                            <td class="text-centred">
                                {{ task.task.doneVolume }}
                            </td>

                            <td class="text-centred">
                                {{ task.task.totalVolume }}
                            </td>

                            <td class="text-centred">
                                {{ task.task.donePercentage|floatformat:2 }}
                            </td>

                            <td class="text-centred">
                                {{ task.task.unit }}
                            </td>


                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            </div>

        </div>


    </div>






{% endblock %}

