{% extends "base.html" %}
{% load mathfilters %}
{% load static %}

{% block content %}
    <div class="container-xxl px-4" style="margin-top: 0.5%;">

        <div class="row">

            <div class="row">

                <div class="col-2 h-75">
                    <img class="h-100 mx-auto" src="{% static 'logo/jpc.jpg' %}" style="max-width: 100%; display: block;">
                </div>

                <div class="col-8">
                    <table class="table table-bordered border-dark" id="table-header" style="font-size: 11px;">
                        <thead class="">
                            <tr class="p-1">
                                <th class="p-1" style="width: 13%">پروژه</th>
                                <th class="p-1 table-light" style="width: 16%">{{ report.project.name }}</th>
                                <th class="p-1" style="width: 18%">کارفرما</th>
                                <th class="p-1 table-light" style="width: 18%">{{ report.project.employer }}</th>
                                <th class="p-1" style="width: 13%">پیمانکار</th>
                                <th class="p-1 table-light" style="width: 22%">{{ report.project.employee }}</th>
                            </tr>
                            <tr class="p-1">
                                <th class="p-1" style="width: 13%">مشاور</th>
                                <th class="p-1 table-light" style="width: 16%">{{ report.project.advisor }}</th>
                                <th class="p-1" style="width: 18%">موضوع قرارداد</th>
                                <th class="p-1 table-light" style="width: 18%">{{ report.project.contract_subject }}</th>
                                <th class="p-1" style="width: 13%">نوع قرارداد</th>
                                <th class="p-1 table-light" style="width: 22%">{{ report.project.contract_type }}</th>
                            </tr>
                            <tr class="p-1">
                                <th class="p-1" style="width: 13%">شماره قرارداد</th>
                                <th class="p-1 table-light" style="width: 16%">{{ report.project.contract_number }}</th>
                                <th class="p-1" style="width: 18%">تاریخ شروع قرارداد</th>
                                <th class="p-1 table-light" style="width: 18%">{{ report.project.start_date }}</th>
                                <th class="p-1" style="width: 13%">مدت قرارداد</th>
                                <th class="p-1 table-light" style="width: 22%">{{ report.project.contract_duration }}</th>
                            </tr>
                            <tr class="p-1">
                                <th class="p-1" style="width: 13%">آدرس قرارداد</th>
                                <th class="p-1 table-light" style="width: 16%">{{ report.project.contract_address }}</th>
                                <th class="p-1" style="width: 18%">مسئول کنترل پروژه</th>
                                <th class="p-1 table-light" style="width: 18%">{{ report.project.user.user.first_name }}{{ report.project.user.user.last_name }}</th>
                                <th class="p-1" style="width: 13%">تاریخ</th>
                                <th class="p-1 table-light" style="width: 22%">{{ other.weekday }} - {{ other.date }}</th>
                            </tr>
                            <tr class="p-1">
                                <th class="p-1" style="width: 13%">میزان گرد و غبار</th>
                                <th class="p-1 table-light" style="width: 16%">{{ report.dust_value }}</th>
                                <th class="p-1" style="width: 18%">بیشترین | کمترین دما</th>
                                <th class="p-1 table-light" style="width: 18%">{{ report.temperature_max }} | {{ report.temperature_min }}</th>
                                <th class="p-1" style="width: 13%">وضعیت جوی</th>
                                <th class="p-1 table-light" style="width: 22%">{{ other.weather }}</th>
                            </tr>
                        </thead>
                    </table>
                </div>

                <div class="col-2 h-75">
                    <img class="h-100 mx-auto" src="{% static 'logo/jpc.jpg' %}" style="max-width: 100%; display: block;">
                </div>

            </div>

            <div class="col-5 " style=" margin-top: -10px">

                <div class="row" style="margin-bottom: 0; padding-bottom: 0;">

                    <div class="col-3" style="padding: 0; margin: 0;">
                        <table class="table table-bordered border-dark" id="table-position" style="font-size: 11px;">
                            <thead class="">
                                <tr>
                                    <th style="width: 85%">سمت</th>
                                    <th style="text-align: center">تعداد</th>
                                </tr>
                            </thead>
                            {% for position in positions %}
                                <tr>
                                    <td>{{ position }}</td>
                                    <td style="text-align: center">{{ position.count }}</td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>

                    <div class="col-8 me-2" style="padding: 0; margin: 0;">
                        <table class="table table-bordered border-dark" id="table-profession" style="font-size: 11px">
                            <thead class="">
                                <tr>
                                    <th style="width: 30%">تخصص</th>
                                    <th>پیمانکار</th>
                                    <th style="text-align: center">ماهر</th>
                                    <th style="width: 18%; text-align: center">نیمه ماهر</th>
                                    <th style="text-align: center">ساده</th>
                                    <th style="text-align: center">کل</th>
                                </tr>
                            </thead>
                            {% for equipe in equipes %}
                                <tr>
                                    <td>{{ equipe.equipe.profession }}</td>
                                    <td>{{ equipe.equipe.contractor }}</td>
                                    <td style="text-align: center">{{ equipe.countExpert }}</td>
                                    <td style="text-align: center">{{ equipe.countSemiExpert }}</td>
                                    <td style="text-align: center">{{ equipe.countNonExpert }}</td>
                                    <td style="text-align: center">{{ equipe.countTotal }}</td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>

                <div class="row my-0" style="margin-bottom: 0; padding-bottom: 0">

                    <div class="col-3" style="padding: 0; margin: 0;">
                        <table class="table table-bordered border-dark" id="positionCount" style="font-size: 11px;">
                            <thead class="">
                            <tr>
                                <th style="width: 70%">جمع ستادی</th>
                                <th style="text-align: center">{{ report.countPositions }}</th>
                            </tr>
                            </thead>
                        </table>
                    </div>

                    <div class="col-8 me-2" style="padding: 0; margin: 0;">
                        <table class="table table-bordered border-dark" id="professionCount" style="font-size: 11px">
                            <thead class="">
                                <tr>
                                    <th style="width: 75%" colspan="5">جمع اجرایی</th>
                                    <th style="text-align: center">{{ report.countProfessions }}</th>
                                </tr>
                            </thead>
                        </table>
                    </div>

                </div>

                <div class="row" style="margin-top: -15px; padding-left: 38px">
                    <div class="" style="padding: 0; margin: 0;">
                        <table class="table table-bordered border-dark" style="margin-top: 0;">
                            <thead class="" style="font-size: 11px;">
                                <tr>
                                    <th style="width: 82%;">جمع کل</th>
                                    <th style="text-align: left; text-align: center">{{ report.countPeople }}</th>
                                </tr>
                            </thead>
                        </table>
                    </div>

<!--                    <div class="col-8" style="padding: 0; margin: 0;">-->
<!--                        <table class="table table-bordered border-dark" style="margin-top: 0;">-->
<!--                            <thead class="" style="font-size: 11px">-->
<!--                                <tr>-->
<!--                                    <th style="text-align: left; padding-left: 40px">{{ report.countPeople }}</th>-->
<!--                                </tr>-->
<!--                            </thead>-->
<!--                        </table>-->
<!--                    </div>-->
                </div>


                <div class="row">

                    <div class="col-6" style="padding: 0; margin: 0;">
                        <table class="table table-bordered border-dark" id="table-machine" style="font-size: 11px">
                            <thead class="">
                                <tr>
                                    <th style="width: 40%">ماشین</th>
<!--                                    <th style="text-align: center">کارکرد</th>-->
                                    <th style="text-align: center">فعال</th>
                                    <th style="text-align: center">غیرفعال</th>
                                    <th style="text-align: center">کل</th>
<!--                                    <th style="text-align: center">تامین</th>-->
                                </tr>
                            </thead>
                            <tbody>
                                {% for machine in machines %}
                                    <tr>
                                        <td>{{ machine }}</td>
    <!--                                    <td style="text-align: center">{{ machine.workHours }}</td>-->
                                        <td style="text-align: center">{{ machine.activeCount }}</td>
                                        <td style="text-align: center">{{ machine.inactiveCount }}</td>
                                        <td style="text-align: center">{{ machine.totalCount }}</td>
    <!--                                    <td style="text-align: center">{{ machine.provider }}</td>-->
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>

                    <div class="col-5 me-2" style="padding: 0; margin: 0;">
                        <table class="table table-bordered border-dark" id="table-material" style="font-size: 11px">
                            <thead class="">
                                <tr>
                                    <th>مصالح</th>
                                    <th style="text-align: center">مقدار</th>
                                    <th style="text-align: center">واحد</th>
<!--                                    <th style="text-align: center">تامین</th>-->
                                </tr>
                            </thead>
                            <tbody>
                                {% for material in materials %}
                                    <tr>
                                        <td>{{ material }}</td>
                                        <td style="text-align: center">{{ material.amount }}</td>
                                        <td style="text-align: center">{{ material.unit }}</td>
    <!--                                    <td style="text-align: center">{{ material.provider }}</td>-->
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>


            <div class="col-7 " style=" margin-top: -10px">
                <table class="table table-bordered border-dark" id="table-task" style="font-size: 11px">

                <thead class="">
                    <tr class="">
                        <th class="" style="width: 30%; vertical-align: middle;">
                             شرح عملیات اصلی
                        </th>
<!--                        <th class="" style="width: 13%; vertical-align: middle;" >-->
<!--                            اکیپ-->
<!--                        </th>-->
<!--                        <th class="" style="width: 8%; vertical-align: middle;" >-->
<!--                            موقعیت-->
<!--                        </th>-->
                        <th class="text-centred" >
                            امروز
                        </th>
                        <th class="text-centred" >
                            تا دیروز
                        </th>
                        <th class="text-centred" style="width: 12%">
                            مقدار کل
                        </th>
<!--                        <th class="text-centred" >-->
<!--                             درصد موقعیت-->
<!--                        </th>-->
                        <th class="text-centred" >
                             درصد پیشرفت
                        </th>
                        <th class="text-centred" style="width: 12%">
                            واحد
                        </th>
                    </tr>
                </thead>

                <tbody>
                    {% for task in tasks %}
                        <tr  id="{{task.name}}-{{task.equipe}}-{{task.zone}}">
                            <td>
                                {{ task.name }}
                            </td>

<!--                            <td>-->
<!--                                {{ task.task.equipe }}-->
<!--                            </td>-->

<!--                            <td>-->
<!--                                {{ task.task.zone }}-->
<!--                            </td>-->

                            <td class="text-centred">
                                {{ task.todayVolume }}
                            </td>

                            <td class="text-centred">
                                {{ task.preDoneVolume }}
                            </td>

                            <td class="text-centred">
                                {{ task.entire_item_vol }}
                            </td>

                            <td class="text-centred">
<!--                                {{ task.task.donePercentage|floatformat:2 }} %-->
                                {{ task.entire_item_done_percent|floatformat:2 }} %
                            </td>


<!--                            {% for item in other.entire_items %}-->
<!--                                {% if item.0 == task.id %}-->

<!--                                    <td class="text-centred">-->
<!--                                        {{ item.2|floatformat:2 }}-->
<!--                                    </td>-->

<!--                                    <td class="text-centred">-->
<!--                                        {{ item.1|floatformat:2 }} %-->
<!--                                    </td>-->

<!--                                {% endif %}-->
<!--                            {% endfor %}-->


                            <td class="text-centred">
                                {{ task.unit }}
                            </td>


                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            </div>

        </div>


    </div>






{% endblock %}

