{% extends "base.html" %}
{% load mathfilters %}
{% load static %}
{% load custom_tags %}

{% block content %}
    <div class="container-xxl px-4" style="margin-top: 0.5%;">

        <div class="row">

            <div class="row">

                <div class="col-2 h-75">
                    <img class="h-100 mx-auto" src="{% static 'logo/jpc.jpg' %}" style="max-width: 100%; display: block;">
                </div>

                <div class="col-8">
                    <table class="table table-bordered border-dark" id="table-header" style="font-size: 11px;">
                        <thead class="">
                            <tr>
                                <th style="width: 13%">پروژه</th>
                                <th style="width: 16%" class="table-light">{{ report.project_name }}</th>
                                <th style="width: 18%">شماره قرارداد</th>
                                <th style="width: 18%" class="table-light">{{ report.contract_number }}</th>
                                <th style="width: 13%">مشاور</th>
                                <th style="width: 22%" class="table-light">{{ report.consultor_name }}</th>
                            </tr>
                            <tr>
                                <th style="width: 13%">کارفرما</th>
                                <th style="width: 16%" class="table-light">{{ report.employer }}</th>
                                <th style="width: 18%">پیمانکار</th>
                                <th style="width: 18%" class="table-light">{{ report.employee }}</th>
                                <th style="width: 13%">تاریخ</th>
                                <th style="width: 22%" class="table-light">{{ other.weekday }} - {{ other.date }}</th>
                            </tr>
                            <tr>
                                <th style="width: 13%">میزان گرد و غبار</th>
                                <th style="width: 16%" class="table-light">{{ report.dust_value }}</th>
                                <th style="width: 18%">بیشترین دما &nbsp; || &nbsp; کمترین دما</th>
                                <th style="width: 18%" class="table-light">{{ report.temperature_max }} &nbsp; || &nbsp; {{ report.temperature_min }}</th>
                                <th style="width: 13%">وضعیت جوی</th>
                                <th style="width: 22%" class="table-light">{{ other.weather }}</th>
                            </tr>
                        </thead>
                    </table>
                </div>

                <div class="col-2 h-75">
                    <img class="h-100 mx-auto" src="{% static 'logo/pamidco.png' %}" style="max-width: 100%; display: block;">
                </div>

            </div>

            <div class="col-6" style=" margin-top: -30px">

                <div class="row " style="margin-bottom: 0; padding-bottom: 0;">

                    <div class="col-3" style="padding: 0; margin: 0;">
                        <table class="table table-bordered border-dark" id="table-position" style="font-size: 11px;">
                            <thead class="">
                                <tr>
                                    <th style="width: 85%">سمت</th>
                                    <th style="text-align: center">تعداد</th>
                                </tr>
                            </thead>
                            {% for position in positions %}
                                <tr>
                                    <td>{{ position }}</td>
                                    <td style="text-align: center">{{ position.count }}</td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>

                    <div class="col-8 me-2" style="padding: 0; margin: 0;">
                        <table class="table table-bordered border-dark" id="table-profession" style="font-size: 11px">
                            <thead class="">
                                <tr>
                                    <th style="width: 30%">تخصص</th>
                                    <th>پیمانکار</th>
                                    <th style="text-align: center">ماهر</th>
                                    <th style="width: 18%; text-align: center">نیمه ماهر</th>
                                    <th style="text-align: center">ساده</th>
                                    <th style="text-align: center">کل</th>
                                </tr>
                            </thead>
                            {% for equipe in equipes %}
                                <tr>
                                    <td>{{ equipe.equipe.profession }}</td>
                                    <td>{{ equipe.equipe.contractor }}</td>
                                    <td style="text-align: center">{{ equipe.countExpert }}</td>
                                    <td style="text-align: center">{{ equipe.countSemiExpert }}</td>
                                    <td style="text-align: center">{{ equipe.countNonExpert }}</td>
                                    <td style="text-align: center">{{ equipe.countTotal }}</td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>

                <div class="row my-0 " style="margin-bottom: 0; padding-bottom: 0">

                    <div class="col-3" style="padding: 0; margin: 0;">
                        <table class="table table-bordered border-dark" id="positionCount" style="font-size: 11px;">
                            <thead class="">
                            <tr>
                                <th style="width: 75%">جمع ستادی</th>
                                <th style="text-align: center">{{ report.countPositions }}</th>
                            </tr>
                            </thead>
                        </table>
                    </div>

                    <div class="col-8 me-2" style="padding: 0; margin: 0;">
                        <table class="table table-bordered border-dark" id="professionCount" style="font-size: 11px">
                            <thead class="">
                                <tr>
                                    <th style="width: 75%" colspan="5">جمع اجرایی</th>
                                    <th style="text-align: center">{{ report.countProfessions }}</th>
                                </tr>
                            </thead>
                        </table>
                    </div>

                </div>

                <div class="row" style="margin-top: -15px;">
                    <div class="col-12" style="padding: 0 0 0 48px; margin: 0;">
                        <table class="table table-bordered border-dark" style="margin-top: 0;">
                            <thead class="" style="font-size: 11px;">
                                <tr>
                                    <th style="width: 82%;">جمع کل</th>
                                    <th style="text-align: left; text-align: center">{{ report.countPeople }}</th>
                                </tr>
                            </thead>
                        </table>
                    </div>

                </div>

            </div>


            <div class="col-6" style=" margin-top: -30px">
                <div class="row">

                    <div class="col-7" style="padding: 0; margin: 0 -10px 0 0;">
                        <table class="table table-bordered border-dark" id="table-machine" style="font-size: 11px">
                            <thead class="">
                                <tr>
                                    <th style="width: 35%;">ماشین</th>
                                    <th style="width: 10%; text-align: center">کارکرد</th>
                                    <th style="width: 10%; text-align: center">فعال</th>
                                    <th style="width: 10%; text-align: center">غیرفعال</th>
                                    <th style="width: 10%; text-align: center">کل</th>
                                    <th style="width: 25%; text-align: center">تامین</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for machine in machines %}
                                <tr>
                                    <td>{{ machine }}</td>
                                    <td style="text-align: center">{{ machine.workHours }}</td>
                                    <td style="text-align: center">{{ machine.activeCount }}</td>
                                    <td style="text-align: center">{{ machine.inactiveCount }}</td>
                                    <td style="text-align: center">{{ machine.totalCount }}</td>
                                    <td style="text-align: center">{{ machine.provider }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>

                    <div class="col-5 me-2" style="padding: 0; margin: 0;">
                        <table class="table table-bordered border-dark" id="table-material" style="font-size: 11px">
                            <thead class="">
                                <tr>
                                    <th style="width: 35%; ">مصالح</th>
                                    <th style="width: 15%; text-align: center">مقدار</th>
                                    <th style="width: 15%; text-align: center">واحد</th>
                                    <th style="width: 25%; text-align: center">تامین</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for material in materials %}
                                    <tr>
                                        <td>{{ material }}</td>
                                        <td style="text-align: center">{{ material.amount }}</td>
                                        <td style="text-align: center">{{ material.unit }}</td>
                                        <td style="text-align: center">{{ material.provider }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>

            <div class="col-13" style="padding: 0; margin: 0;">
                <table class="table table-bordered border-dark" id="table-task" style="font-size: 11px">

                <thead class="">
                    <tr class="">
                        <th class="" style="width: 13%; vertical-align: middle;">
                            شرح عملیات اصلی
                        </th>
                        <th class="" style="width: 13%; vertical-align: middle;">
                            شرح عملیات اجرایی (زیرعملیات)
                        </th>
                        <th class="text-centred" style="width: 9%; vertical-align: middle;" >
                            اکیپ
                        </th>
                        <th class="text-centred" style="width: 8%; vertical-align: middle;" >
                            موقعیت
                        </th>
                        <th class="text-centred" style="width: 5%; vertical-align: middle;">
                            امروز
                        </th>
                        <th class="text-centred" style="width: 5%; vertical-align: middle;">
                            تا دیروز
                        </th>
                        <th class="text-centred" style="width: 6%">
<!--                            کل موقعیت-->
                            کل ع. اجرایی
                        </th>
                        <th class="text-centred" style="width: 8%" >
<!--                             درصد موقعیت-->
                             درصد ع. اجرایی
                        </th>
                         <th class="text-centred" style="width: 5%">
                            واحد
                        </th>
                        <th class="text-centred" style="width: 6%">
<!--                             کل آیتم-->
<!--                             کل عملیات اصلی-->
                             کل ع.اصلی
                        </th>
                        <th class="text-centred" style="width: 7%">
<!--                             درصد کل-->
<!--                             درصد عملیات اصلی-->
                             درصد ع.اصلی
                        </th>
                         <th class="text-centred" style="width: 5%">
                            واحد
                        </th>
                        <th class="text-centred" style="width: 5%">
                            شروع
                        </th>
                        <th class="text-centred" style="width: 5%">
                            پایان
                        </th>
                    </tr>
                </thead>

                <tbody>
                    {% for task in tasks %}
                        <tr  id="{{task.name}}-{{task.equipe}}-{{task.zone}}">
                            <td style="vertical-align: middle;">
                                {{ task.task.operation.operation.name }}
                            </td>

                            <td style="vertical-align: middle;">
                                {{ task.task.suboperation.name }}
                            </td>

                            <td class="text-centred" style="vertical-align: middle;">
                                {{ task.task.equipe }}
                            </td>

                            <td class="text-centred" style="vertical-align: middle;">
                                {{ task.task.zone }}
                            </td>

                            <td class="text-centred">
                                {{ task.todayVolume }}
                            </td>

                            <td class="text-centred">
                                {{ task.preDoneVolume }}
                            </td>

                            <td class="text-centred">
                                {{ task.task.totalVolume }}
                            </td>

                            <td class="text-centred">
                                {% with pre=task.preDoneVolume|div:task.task.totalVolume|mul:100 cur=task.todayVolume|div:task.task.totalVolume|mul:100 %}
                                    {{ cur|add:pre }} %
                                {% endwith %}

                            </td>

                             <td class="text-centred">
                                {{ task.task.unit }}
                             </td>

                            <td class="text-centred">
                                {{ task.task.parent.totalVolume }}
                            </td>

                            <td class="text-centred">
                                {{ other.parentTaskPercents|return_item:task.task.parent.id }} %
                            </td>
                            <td class="text-centred">
                                {{ task.task.operation.unit }}
                             </td>
                            <td class="text-centred">
                                {% if task.task.start_date|date:"Y/m/d" %}
                                    {{ task.task.start_date|date:"Y/m/d" }}
                                {% else %}
                                    -
                                {% endif %}
                            </td>

                            <td class="text-centred">
                                {% if task.task.completion_date|date:"Y/m/d" %}
                                    {{ task.task.completion_date|date:"Y/m/d" }}
                                {% else %}
                                    -
                                {% endif %}

                            </td>


                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            </div>
        </div>


    </div>






{% endblock %}

