{% load custom_tags %}
{% load static %}
{% load mathfilters %}

<!-- recursive_table.html -->
{% if data %}
    {% if analyzeType|equals:'Ahjam' %}

        {% if level == priority_depths %}
<!--        <table class="table table-bordered border-dark px-4 my-1" style="margin-right: {{level|mul:50|add:25}}px">-->
            {% with delta=level|mul:50|add:25 %}
            <table class="table table-bordered border-dark my-1" style="margin-right:{{delta}}px; width:{{ 700|sub:delta}}px">
            {% endwith %}
                <thead>
                    <tr>
                                <th colspan="" style="width: 22%">{{ priorityTypes|getIndex:priority_depths }}</th>
                                <th colspan="" style="width: 22%">انجام شده</th>
                                <th colspan="" style="width: 22%">کل</th>
                                <th colspan="" style="width: 12%">واحد</th>
                                <th colspan="" style="width: 22%">درصد پیشرفت</th>
                    </tr>
                </thead>

                <tbody>
                    {% for header in headers %}
                        {% for key, value in data|getValueOfKey:header|getItemsOfDict %}
                            <tr>
                                {% if value|isDict and value|containsDict%}
                                    {% include "recursive_table.html" with data=value headers=value.keys level=level|add:1 priorities_values=priorities_values priority_depths=priority_depths parent=header query_formula=query_formula %}
                                {% else %}

                                    {% if data.values|readIndex:value == headers|readIndex:header %}
        <!--                                {{ header }} <br>-->
        <!--                                {{ level }} <br>-->
        <!--                                {{ priorities_values }} <br>-->
        <!--                                {{ priorities_values|getIndex:level }}-->
        <!--                                {% if header in priorities_values|getIndex:level %}-->
                                            <td class="" style="width: 22%">{{ header }}</td>
                                            <td class="" style="width: 22%">{{ value.doneVolume }}</td>
                                            <td class="" style="width: 22%">{{ value.totalVolume }}</td>
                                            <td class="" style="width: 12%">{{ value.unit }}</td>
                                            <td class="" style="width: 22%">{{ value.donePercentage|floatformat:2 }} %</td>
                                        {% endif %}
                                    {% endif %}
                                {% endif %}
                            </tr>
                        {% endfor %}
                    {% endfor %}
                </tbody>
            </table>

        {% else %}
            {% for header in headers %}
                {% with delta=level|mul:50|add:25 %}
                <table class="table table-bordered border-dark my-1" style="margin-right: {{delta}}px; width: {{ 700|sub:delta}}px">
                {% endwith %}
                    <thead>
                        <tr>
                            <th colspan="" style="width: 25%">{{ header }}</th>
                        </tr>
                    </thead>

                    <tbody>
                        {% for key, value in data|getValueOfKey:header|getItemsOfDict %}
                            <tr>
                                {% if value|isDict and value|containsDict%}
                                    {% include "recursive_table.html" with data=value headers=value.keys level=level|add:1 priorities_values=priorities_values priority_depths=priority_depths parent=header query_formula=query_formula %}
                                {% else %}

                                    {% if data.values|readIndex:value == headers|readIndex:header %}
        <!--                                {{ header }} <br>-->
        <!--                                {{ level }} <br>-->
        <!--                                {{ priorities_values }} <br>-->
        <!--                                {{ priorities_values|getIndex:level }}-->
        <!--                                {% if header in priorities_values|getIndex:level %}-->
                                            <td class="" style="width: 22%">{{ header }}</td>
                                            <td class="" style="width: 22%">{{ value.doneVolume }}</td>
                                            <td class="" style="width: 22%">{{ value.totalVolume }}</td>
                                            <td class="" style="width: 12%">{{ value.unit }}</td>
                                            <td class="" style="width: 22%">{{ value.donePercentage|floatformat:2 }}</td>
                                        {% endif %}
                                    {% endif %}
                                {% endif %}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endfor %}

        {% endif %}

    {% elif analyzeType|equals:'machine' %}

        {% if level == priority_depths %}
            {% with delta=level|mul:50|add:25 %}
            <table class="table table-bordered border-dark my-1" style="margin-right:{{delta}}px; width:{{ 700|sub:delta}}px">
            {% endwith %}
                <thead>
                    <tr>
                        <th colspan="" style="width: 25%">{{ priorityTypes|getIndex:priority_depths }}</th>
                        <th colspan="" style="width: 25%">کارکرد</th>
                        <th colspan="" style="width: 25%">واحد</th>
                    </tr>
                </thead>

                <tbody>
                    {% for header in headers %}
                        {% for key, value in data|getValueOfKey:header|getItemsOfDict %}
                            <tr>
                                {% if value|isDict and value|containsDict%}
                                    {% include "recursive_table.html" with data=value headers=value.keys level=level|add:1 priorities_values=priorities_values priority_depths=priority_depths parent=header query_formula=query_formula %}
                                {% else %}

                                    {% if data.values|readIndex:value == headers|readIndex:header %}
        <!--                                {{ header }} <br>-->
        <!--                                {{ level }} <br>-->
        <!--                                {{ priorities_values }} <br>-->
        <!--                                {{ priorities_values|getIndex:level }}-->
        <!--                                {% if header in priorities_values|getIndex:level %}-->
                                            <td class="" style="width: 25%">
                                                {{ header }}
                                                <span class="badge rounded-pill"
                                                      style="float: right; color: black; "
                                                      onclick="show_day2day_analyze('{{query_formula.0}}', '{{query_formula.1}}', '{{ header }}', '{{ parent }}', '{{ dates_filters.lower }}', '{{ dates_filters.upper }}', '{{analyzeType}}')">
                                                    <img src="{% static 'icons/list-task.svg' %}" style="-webkit-transform: scaleX(-1); transform: scaleX(-1);">
                                                </span>
                                            </td>
                                            <td class="" style="width: 25%">{{ value.workHours }}</td>
                                            <td class="" style="width: 25%">ساعت</td>
                                        {% endif %}
                                    {% endif %}
                                {% endif %}
                            </tr>
                        {% endfor %}
                    {% endfor %}
                </tbody>
            </table>

        {% else %}
            {% for header in headers %}
                {% with delta=level|mul:50|add:25 %}
                <table class="table table-bordered border-dark my-1" style="margin-right: {{delta}}px; width: {{ 700|sub:delta}}px">
                {% endwith %}
                    <thead>
                        <tr>
                            <th colspan="" style="width: 25%">
                                {{ header }}

<!--                                <button style="float: left; border-radius: 20px; width: 40px; height: 20px;">||</button>-->
                            </th>
                        </tr>
                    </thead>

                    <tbody>
                        {% for key, value in data|getValueOfKey:header|getItemsOfDict %}
                            <tr>
                                {% if value|isDict and value|containsDict%}
                                    {% include "recursive_table.html" with data=value headers=value.keys level=level|add:1 priorities_values=priorities_values priority_depths=priority_depths parent=header query_formula=query_formula %}
                                {% else %}

                                    {% if data.values|readIndex:value == headers|readIndex:header %}
                                            <td class="" style="width: 25%">{{ header }}</td>
                                            <td class="" style="width: 25%">{{ value.workHours }}</td>
                                            <td class="" style="width: 25%">ساعت</td>
                                    {% endif %}
                                {% endif %}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endfor %}

        {% endif %}

    {% elif analyzeType|equals:'material' %}
        {% if level == priority_depths %}
            {% with delta=level|mul:50|add:25 %}
            <table class="table table-bordered border-dark my-1" style="margin-right:{{delta}}px; width:{{ 700|sub:delta}}px">
            {% endwith %}
                <thead>
                    <tr>
                                <th colspan="" style="width: 25%">{{ priorityTypes|getIndex:priority_depths }}</th>
                                <th colspan="" style="width: 25%">مقدار</th>
                                <th colspan="" style="width: 25%">واحد مبنا</th>
                    </tr>
                </thead>

                <tbody>
                    {% for header in headers %}
                        {% for key, value in data|getValueOfKey:header|getItemsOfDict %}
                            <tr>
                                {% if value|isDict and value|containsDict%}
                                    {% include "recursive_table.html" with data=value headers=value.keys level=level|add:1 priorities_values=priorities_values priority_depths=priority_depths parent=header query_formula=query_formula %}
                                {% else %}

                                    {% if data.values|readIndex:value == headers|readIndex:header %}
        <!--                                {{ header }} <br>-->
        <!--                                {{ level }} <br>-->
        <!--                                {{ priorities_values }} <br>-->
        <!--                                {{ priorities_values|getIndex:level }}-->
        <!--                                {% if header in priorities_values|getIndex:level %}-->
                                            <td class="" style="width: 25%">
                                                {{ header }}

                                                <span class="badge rounded-pill"
                                                      style="float: right; color: black; "
                                                      onclick="show_day2day_analyze('{{query_formula.0}}', '{{query_formula.1}}', '{{ header }}', '{{ parent }}', '{{ dates_filters.lower }}', '{{ dates_filters.upper }}', '{{analyzeType}}')">
                                                    <img src="{% static 'icons/list-task.svg' %}" style="-webkit-transform: scaleX(-1); transform: scaleX(-1);">
                                                </span>
                                            </td>
                                            <td class="" style="width: 25%">{{ value.amount }}</td>
                                            <td class="" style="width: 25%">{{ value.unit }}</td>
                                        {% endif %}
                                    {% endif %}
                                {% endif %}
                            </tr>
                        {% endfor %}
                    {% endfor %}
                </tbody>
            </table>

        {% else %}
            {% for header in headers %}
                {% with delta=level|mul:50|add:25 %}
                <table class="table table-bordered border-dark my-1" style="margin-right: {{delta}}px; width: {{ 700|sub:delta}}px">
                {% endwith %}
                    <thead>
                        <tr>
                            <th colspan="" style="width: 25%">
                                {{ header }}
                            </th>
                        </tr>
                    </thead>

                    <tbody>
                        {% for key, value in data|getValueOfKey:header|getItemsOfDict %}
                            <tr>
                                {% if value|isDict and value|containsDict%}
                                    {% include "recursive_table.html" with data=value headers=value.keys level=level|add:1 priorities_values=priorities_values priority_depths=priority_depths parent=header query_formula=query_formula %}
                                {% else %}

                                    {% if data.values|readIndex:value == headers|readIndex:header %}
                                            <td class="" style="width: 25%">
                                                {{ header }}
                                            </td>
                                            <td class="" style="width: 25%">{{ header }}</td>
                                            <td class="" style="width: 25%">{{ value.unit }}</td>
                                    {% endif %}
                                {% endif %}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endfor %}

        {% endif %}

    {% endif %}





{% else %}

{% endif %}

