{% extends "base.html" %}

{% block content %}
    <div class="container" style="margin-top: 2%">
        <div class="row">
            {% for report in reports %}
                    <table class="table" id="table-{{ report.id }}">
                        <thead class="">
                            <tr class="" style="">
                                <th class="text-centred">گزارش</th>
                                <th class="text-centred">{{ report.date|date:'Y/m/d' }}</th>
                                <th class="text-centred">پروژه</th>
                                <th class="text-centred">{{ report.project_name }}</th>
                                <th class="text-centred">
<!--                                        <div></div>-->
<!--                                    </th>-->
<!--                                    <th class="text-centred">-->

                                    <a style="float: left" href="{{ report.id }}" class="">
                                        <button type="button" class="btn btn-sm btn-success p-1 fs-18">دفتر مرکزی</button>
                                    </a>

                                    <a style="float: left" href="compact/{{ report.id }}" class="mx-2">
                                        <button type="button" class="btn btn-sm btn-success p-1 fs-18">کارفرما</button>
                                    </a>

                                    <a>
                                        <button id="{{ report.id }}" type="button" class="btn btn-sm btn-danger fs-18 me-2"
                                                disabled style="float: left" onclick="del_report('{{ report.id }}')">حذف</button>
                                    </a>

                                    <a>
                                        <form action="/edit-db/edit-daily-report/" method="post">
                                            {% csrf_token %}
                                            <input type="checkbox" checked hidden readonly name="template">
                                            <input type="text" hidden readonly name="id" value="{{ report.id }}">
                                            <button id="{{ report.id }}" type="submit" class="btn btn-sm btn-primary fs-18"
                                                     disabled style="float: left" >ویرایش</button>
                                        </form>
                                    </a>

                                    <a href="/home/print-daily-reports/{{report.id}}" target="_blank">
                                        <button id="" type="button" class="btn btn-sm btn-primary fs-18 mx-2"
                                                style="float: left" onclick="">پرینت دفتر</button>
                                    </a>

                                </th>
                            </tr>
                        </thead>
                    </table>

                {% endfor %}


        </div>


    </div>




<script>
    iter_reports();
</script>

{% endblock %}

