    <div class="modal fade" id="staticBackdropSubTasks-{{ parentTask.id }}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" ></button>
                    <h5 class="modal-title" id="staticBackdropSubTasksLabel-{{ taskParent.id }}" style="margin-right: auto">زیرعملیات های {{ taskParent }}</h5>
                </div>

                <div class="modal-body">

                    <div class="input-group mb-3">
                        <table class="table table-bordered border-dark" id="table-{{ taskParent.id }}" style="font-size: 11px">
                            <thead class="">
                                <tr class="">
                                    <th class=""  colspan="2" style="text-align: center">
                                        {{ taskParent }}
                                    </th>
                                    <th class=""  colspan="1" style="text-align: center">
                                        {{ taskParent.amount }}
                                    </th>
                                    <th class=""  colspan="1" style="text-align: center">
                                        {{ taskParent.unit }}
                                    </th>
                                </tr>
                            </thead>
                            <thead class="">
                                <tr class="">
                                    <th class="" >
                                        شرح زیرعملیات
                                    </th>

                                    <th style="width: 20%;">
                                        وزن %
                                    </th>

                                    <th style="width: 20%;">
                                        مقدار
                                    </th>

                                    <th style="width: 20%;">
                                        واحد
                                    </th>
                                </tr>
                            </thead>

                            <tbody>
                                {% for subtaskParent in taskParent.subtaskParents.all %}
                                    <tr id="subtaskParent-{{ subtaskParent.name }}-{{ taskParent.id }}">
                                        <td>
                                            {{ subtaskParent.name }}

                                            <span class="badge rounded-pill"
                                                style="float: right; color: black; " onclick="del_subtaskParent('{{ subtaskParent.name }}', '{{ taskParent.id }}', true)">
                                                <img src="{% static 'icons/patch-minus.svg' %}">
                                            </span>

                                        </td>

                                        <td class="weights-{{taskParent.id}}">
                                            {{ subtaskParent.weight }}
                                        </td>

                                        <td>
                                            {{ subtaskParent.amount }}
                                        </td>

                                        <td>
                                            {{ subtaskParent.unit }}
                                        </td>

                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>

                        <form id="form-{{ taskParent.id }}">
                            <div class="input-group mb-3">
                                <table class="" style="font-size: 11px;">
                                    <thead class="" style="">
                                        <input hidden value="{{ taskParent.id }}" name="taskParent-id" id="subtaskParent-taskParent-{{ taskParent.id }}">

                                        <th style="width: 187px; background-color: white; border: solid black 1px">
                                            <input required type="text" name="name" style="outline: none; background-color: white;
                                             border: none; width: 100%; padding: 3px"
                                                   id="subtaskParent-name-{{ taskParent.id }}"
                                                   class="" placeholder="نام زیرعملیات">
                                        </th>

                                        <th style="width: 93px; background-color: white; border: solid black 1px">
                                            <input required type="number" name="weight" style="outline: none; background-color: white;
                                               border: none; width: 100%; padding: 3px"
                                               class="" placeholder="وزن %" max="{{ taskParent.freeWeight }}" min="0" id="subtaskParent-weight-{{ taskParent.id }}">
                                        </th>


                                        <th style="width: 93px; background-color: white; border: solid black 1px">
                                            <input required type="number" name="amount" style="outline: none; background-color: white;
                                            border: none; width: 100%; padding: 3px"
                                               class="" placeholder="مقدار" id="subtaskParent-amount-{{ taskParent.id }}">
                                        </th>
                                    </thead>
                                </table>

                                <div id="unit-box-{{ taskParent.id }}" style="width: 90px;">
                                    <select required class="select2" id="select2-{{ taskParent.id }}"
                                            name="unit" style="width: 90px; border: solid black" onclick="">
                                        <option disabled selected value="">
                                            انتخاب
                                        </option>
                                        {% for unit in units %}
                                            <option value="{{ unit }}">
                                                {{ unit }}
                                            </option>
                                        {% endfor %}
                                    </select>
                                </div>

                            </div>

                            <button class="btn btn-outline-success bp3-round w-100"
                                            type="submit" id="button-addon11">افزودن</button>
                        </form>


                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-warning w-100" data-bs-dismiss="modal" >تکمیل</button>
                    </div>

                </div>
            </div>
        </div>
    </div>
