




                        <div class="dropdown">
                            <button class="btn btn-outline-secondary dropdown-toggle" type="button"
                                    id="dropdownMenuOperations" data-bs-toggle="dropdown" onclick='fetch_operations()'>
                                انتخاب اکیپ
                            </button>
                            <ul class="dropdown-menu" id="dropdown-menu-tasks">
                                <li>
                                    <div class="input-group px-2 mb-3">
                                        <input type="text" class="form-control" placeholder="جستجو" id="search-task">
                                    </div>
                                </li>
                                <li><hr class="dropdown-divider"></li>
<!--                                    {% for profession in professions %}-->
<!--                                        <li><a class="dropdown-item">{{ profession }}</a></li>-->
<!--                                    {% endfor %}-->
                            </ul>
                        </div>


                        <div id="zone-box-{{ operation.id }}" style="width: 280px;">
                            <select required class="select2" id="select2-zone-{{ operation.id }}"
                                    name="zone" style="width: 280px; border: solid black" onclick="">
                                <option disabled selected value="">
                                    انتخاب
                                </option>
                                {% for zone in zones %}
                                    <option value="{{ zone }}">
                                        {{ zone }}
                                    </option>
                                {% endfor %}
                            </select>
                        </div>